<a href="https://colab.research.google.com/github/ankitarm/PySpark/blob/main/Basic_Pyspark.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Merge two data frames

In [ ]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import sum

In [ ]:
spark = SparkSession.builder.appName("Merge").getOrCreate()

simpleData1 = [(1,"name1","cse"),(2, "name2","extc")]
simpleschema1 = ["ID","NAME","DEPT"]

simpleData2 = [(1,"name1","cse"),(2, "name2","extc")]
simpleschema2 = ["ID","NAME","DEPT"]

simpleDataframe1 = spark.createDataFrame(data = simpleData1, schema = simpleschema1)
simpleDataframe1.show()
simpleDataframe2 = spark.createDataFrame(data = simpleData2, schema = simpleschema2)
simpleDataframe2.show()

+---+-----+----+
| ID| NAME|DEPT|
+---+-----+----+
|  1|name1| cse|
|  2|name2|extc|
+---+-----+----+

+---+-----+----+
| ID| NAME|DEPT|
+---+-----+----+
|  1|name1| cse|
|  2|name2|extc|
+---+-----+----+

In [ ]:
# union we can use only if same number of attributies

simpleDataunion = simpleDataframe1.union(simpleDataframe2)
simpleDataunion.show()

+---+-----+----+
| ID| NAME|DEPT|
+---+-----+----+
|  1|name1| cse|
|  2|name2|extc|
|  1|name1| cse|
|  2|name2|extc|
+---+-----+----+

In [ ]:
"""join - Since the two DataFrames are identical in terms of both the
schema and the data, the join will merge every row in the first
DataFrame with every row in the second DataFrame, resulting
in a Cartesian product """
simpleDatajoin = simpleDataframe1.join(simpleDataframe2)
simpleDatajoin.show()

+---+-----+----+---+-----+----+
| ID| NAME|DEPT| ID| NAME|DEPT|
+---+-----+----+---+-----+----+
|  1|name1| cse|  1|name1| cse|
|  1|name1| cse|  2|name2|extc|
|  2|name2|extc|  1|name1| cse|
|  2|name2|extc|  2|name2|extc|
+---+-----+----+---+-----+----+

In [ ]:
simpleData11 = [(1,"name1","cse",12),(2, "name2","extc",21)]
simpleschema11 = ["ID","NAME","DEPT", "AGE"]
simpleDataframe11 = spark.createDataFrame(simpleData11, simpleschema11)
simpleDataframe11.show()

+---+-----+----+---+
| ID| NAME|DEPT|AGE|
+---+-----+----+---+
|  1|name1| cse| 12|
|  2|name2|extc| 21|
+---+-----+----+---+

In [ ]:
#error as the number of columns not same
simpleDataunion1 = simpleDataframe1.union(simpleDataframe11)
simpleDataunion1.show()

AnalysisException: [NUM_COLUMNS_MISMATCH] UNION can only be performed on inputs with the same number of columns, but the first input has 3 columns and the second input has 4 columns.;
'Union false, false
:- LogicalRDD [ID#157L, NAME#158, DEPT#159], false
+- LogicalRDD [ID#195L, NAME#196, DEPT#197, AGE#198L], false

In [ ]:
#join - as the columns differe, so no cross join instead inner join

simpleDatajoin1 = simpleDataframe1.join(simpleDataframe11)
simpleDatajoin1.show()

+---+-----+----+---+-----+----+---+
| ID| NAME|DEPT| ID| NAME|DEPT|AGE|
+---+-----+----+---+-----+----+---+
|  1|name1| cse|  1|name1| cse| 12|
|  1|name1| cse|  2|name2|extc| 21|
|  2|name2|extc|  1|name1| cse| 12|
|  2|name2|extc|  2|name2|extc| 21|
+---+-----+----+---+-----+----+---+

In [ ]:
from pyspark.sql.functions import lit
simpleDataframe21 = simpleDataframe2.withColumn("AGE", lit("null"))
simpleDataframe21.show()

+---+-----+----+----+
| ID| NAME|DEPT| AGE|
+---+-----+----+----+
|  1|name1| cse|null|
|  2|name2|extc|null|
+---+-----+----+----+

In [ ]:
simpleDataunifies1 = simpleDataframe21.union(simpleDataframe11)
simpleDataunifies1.show()

+---+-----+----+----+
| ID| NAME|DEPT| AGE|
+---+-----+----+----+
|  1|name1| cse|null|
|  2|name2|extc|null|
|  1|name1| cse|  12|
|  2|name2|extc|  21|
+---+-----+----+----+

same schema - two dataframes will do cross join


same number of columns - union will work as long as datatype same

In [ ]:
simpleData22 = [(1,"name1","cse",11),(2, "name2","extc",21)]
simpleschema22 = ["ID","NAME","DEPT", "AGE"]
simpleDataframe22 = spark.createDataFrame(simpleData22, simpleschema22)
simpleDataframe22.show()
simpleDataframe11.show()

+---+-----+----+---+
| ID| NAME|DEPT|AGE|
+---+-----+----+---+
|  1|name1| cse| 11|
|  2|name2|extc| 21|
+---+-----+----+---+

+---+-----+----+---+
| ID| NAME|DEPT|AGE|
+---+-----+----+---+
|  1|name1| cse| 12|
|  2|name2|extc| 21|
+---+-----+----+---+

In [ ]:
#cross
simpleDatacrossjoin = simpleDataframe11.join(simpleDataframe22)
simpleDatacrossjoin.show()

+---+-----+----+---+---+-----+----+---+
| ID| NAME|DEPT|AGE| ID| NAME|DEPT|AGE|
+---+-----+----+---+---+-----+----+---+
|  1|name1| cse| 12|  1|name1| cse| 11|
|  1|name1| cse| 12|  2|name2|extc| 21|
|  2|name2|extc| 21|  1|name1| cse| 11|
|  2|name2|extc| 21|  2|name2|extc| 21|
+---+-----+----+---+---+-----+----+---+

In [ ]:
#inner
simpleDatainnerjoin1 = simpleDataframe11.join(simpleDataframe22, on = "ID",how ="inner")
simpleDatainnerjoin1.show()

+---+-----+----+---+-----+----+---+
| ID| NAME|DEPT|AGE| NAME|DEPT|AGE|
+---+-----+----+---+-----+----+---+
|  1|name1| cse| 12|name1| cse| 11|
|  2|name2|extc| 21|name2|extc| 21|
+---+-----+----+---+-----+----+---+

In [ ]:
#left-left outer
simpleDataleftjoin = simpleDataframe11.join(simpleDataframe22, on = "AGE",how ="left")
simpleDataleftjoin.show()

+---+---+-----+----+----+-----+----+
|AGE| ID| NAME|DEPT|  ID| NAME|DEPT|
+---+---+-----+----+----+-----+----+
| 12|  1|name1| cse|NULL| NULL|NULL|
| 21|  2|name2|extc|   2|name2|extc|
+---+---+-----+----+----+-----+----+

In [ ]:
#right-right outer
simpleDatarightjoin = simpleDataframe11.join(simpleDataframe22, on = "AGE",how ="right")
simpleDatarightjoin.show()

+---+----+-----+----+---+-----+----+
|AGE|  ID| NAME|DEPT| ID| NAME|DEPT|
+---+----+-----+----+---+-----+----+
| 11|NULL| NULL|NULL|  1|name1| cse|
| 21|   2|name2|extc|  2|name2|extc|
+---+----+-----+----+---+-----+----+

In [ ]:
#full outer
simpleDatarightjoin = simpleDataframe11.join(simpleDataframe22, on = "AGE",how ="outer")
simpleDatarightjoin.show()

+---+----+-----+----+----+-----+----+
|AGE|  ID| NAME|DEPT|  ID| NAME|DEPT|
+---+----+-----+----+----+-----+----+
| 11|NULL| NULL|NULL|   1|name1| cse|
| 12|   1|name1| cse|NULL| NULL|NULL|
| 21|   2|name2|extc|   2|name2|extc|
+---+----+-----+----+----+-----+----+

In [ ]:
#left-semi
simpleDataleftsemijoin = simpleDataframe11.join(simpleDataframe22, on = "AGE",how ="left_semi")
simpleDataleftsemijoin.show()

+---+---+-----+----+
|AGE| ID| NAME|DEPT|
+---+---+-----+----+
| 21|  2|name2|extc|
+---+---+-----+----+

In [ ]:
#left-anti
simpleDataleftantijoin = simpleDataframe11.join(simpleDataframe22, on = "AGE",how ="left_anti")
simpleDataleftantijoin.show()

+---+---+-----+----+
|AGE| ID| NAME|DEPT|
+---+---+-----+----+
| 12|  1|name1| cse|
+---+---+-----+----+

In [ ]:
#joining on multiple columns
simpleDatamulcol = simpleDataframe11.join(simpleDataframe22, on = ["ID","NAME"],how ="inner")
simpleDatamulcol.show()

+---+-----+----+---+----+---+
| ID| NAME|DEPT|AGE|DEPT|AGE|
+---+-----+----+---+----+---+
|  1|name1| cse| 12| cse| 11|
|  2|name2|extc| 21|extc| 21|
+---+-----+----+---+----+---+

In [ ]:
#joining on different column names
simpleDatadiffcol = simpleDataframe11.join(simpleDataframe22,on = [simpleDataframe11.ID == simpleDataframe22.ID , simpleDataframe11.NAME == simpleDataframe22.NAME],how ="inner")
simpleDatadiffcol.show()

+---+-----+----+---+---+-----+----+---+
| ID| NAME|DEPT|AGE| ID| NAME|DEPT|AGE|
+---+-----+----+---+---+-----+----+---+
|  1|name1| cse| 12|  1|name1| cse| 11|
|  2|name2|extc| 21|  2|name2|extc| 21|
+---+-----+----+---+---+-----+----+---+

**2. Explode Column using Pyspark**

In [ ]:
from pyspark.sql.functions import explode, split

data21 = [(1,["a","b"]),(2,["c","l"]),(3,["f","u"])]
schema21 = ["ID","Name"]
dataframe21 = spark.createDataFrame(data21,schema21)
dataframe21.show()

+---+------+
| ID|  Name|
+---+------+
|  1|[a, b]|
|  2|[c, l]|
|  3|[f, u]|
+---+------+

In [ ]:
dataframe21explode = dataframe21.select("ID",explode("Name"))
dataframe21explode.show()

+---+---+
| ID|col|
+---+---+
|  1|  a|
|  1|  b|
|  2|  c|
|  2|  l|
|  3|  f|
|  3|  u|
+---+---+

In [ ]:
dataframe22explode = dataframe21.withColumn("Name1",explode("Name"))
dataframe22explode.show()

+---+------+-----+
| ID|  Name|Name1|
+---+------+-----+
|  1|[a, b]|    a|
|  1|[a, b]|    b|
|  2|[c, l]|    c|
|  2|[c, l]|    l|
|  3|[f, u]|    f|
|  3|[f, u]|    u|
+---+------+-----+

**3. Solve using Regex**

In [4]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import sum, rlike, col

spark = SparkSession.builder.appName("Regex").getOrCreate()
data30 = [(1,"Shivam","U67567879"), (2,"Sagar","5678909876"), (3, "Muni", "45678u678")]
schema30 = ["ID","Name","Mobileno"]
df30 = spark.createDataFrame(data30,schema30)
df30.show()

+---+------+----------+
| ID|  Name|  Mobileno|
+---+------+----------+
|  1|Shivam| U67567879|
|  2| Sagar|5678909876|
|  3|  Muni| 45678u678|
+---+------+----------+

In [6]:
df30.filter(col("Mobileno").rlike("^[0-9]+$")).show()

+---+-----+----------+
| ID| Name|  Mobileno|
+---+-----+----------+
|  2|Sagar|5678909876|
+---+-----+----------+

***createOrReplaceTempView()***

In [10]:
df30.createOrReplaceTempView("dataf30")

None

In [13]:
df31 = spark.sql("""select * from dataf30 where Mobileno REGEXP '^[0-9]+$'""")
df31.show()

+---+-----+----------+
| ID| Name|  Mobileno|
+---+-----+----------+
|  2|Sagar|5678909876|
+---+-----+----------+

**4. Count rows in each column where NULLs present**

In [14]:
from pyspark.sql.functions import col, sum, when
from pyspark.sql.types import StructType, StructField, IntegerType, StringType

data40 = [
    (1, "Alice", "1234567890"),
    (2, None,    "9876543210"),
    (3, "Charlie", None),
    (4, None,    None),
    (None, "Eve", "5556667777")
]

# Schema definition
schema40 = StructType([
    StructField("ID", IntegerType(), True),
    StructField("Name", StringType(), True),
    StructField("Mobile", StringType(), True)
])

# Create DataFrame
df40 = spark.createDataFrame(data40, schema40)

df40.show()

+----+-------+----------+
|  ID|   Name|    Mobile|
+----+-------+----------+
|   1|  Alice|1234567890|
|   2|   NULL|9876543210|
|   3|Charlie|      NULL|
|   4|   NULL|      NULL|
|NULL|    Eve|5556667777|
+----+-------+----------+

List comprehension python code bellow

In [16]:
df41nulls = df40.select(
    [sum(when(col(c).isNull(),1).otherwise(0)).alias(c+"_Nulls")
    for c in df40.columns]
)
df41nulls.show()

+--------+----------+------------+
|ID_Nulls|Name_Nulls|Mobile_Nulls|
+--------+----------+------------+
|       1|         2|           2|
+--------+----------+------------+

**5. Handling multiple delimiters**

In [20]:
from pyspark.sql.functions import split, regexp_replace
data5 = [
    (1, "apple,banana|cherry"),
    (2, "grape;orange,kiwi"),
    (3, "mango|lemon;pineapple"),
    (4, None)
]

columns5 = ["ID", "Fruits"]
df5 = spark.createDataFrame(data5, columns5)
df5.show(truncate=False)

+---+---------------------+
|ID |Fruits               |
+---+---------------------+
|1  |apple,banana|cherry  |
|2  |grape;orange,kiwi    |
|3  |mango|lemon;pineapple|
|4  |NULL                 |
+---+---------------------+

In [23]:
df51 = df5.withColumn("Fruits_Normalized",regexp_replace("Fruits","[,|:;]",","))
df51.show()

+---+--------------------+--------------------+
| ID|              Fruits|   Fruits_Normalized|
+---+--------------------+--------------------+
|  1| apple,banana|cherry| apple,banana,cherry|
|  2|   grape;orange,kiwi|   grape,orange,kiwi|
|  3|mango|lemon;pinea...|mango,lemon,pinea...|
|  4|                NULL|                NULL|
+---+--------------------+--------------------+

In [25]:
df52 = df51.withColumn("Fruit_Split", split("Fruits_Normalized",","))
df52.show()

+---+--------------------+--------------------+--------------------+
| ID|              Fruits|   Fruits_Normalized|         Fruit_Split|
+---+--------------------+--------------------+--------------------+
|  1| apple,banana|cherry| apple,banana,cherry|[apple, banana, c...|
|  2|   grape;orange,kiwi|   grape,orange,kiwi|[grape, orange, k...|
|  3|mango|lemon;pinea...|mango,lemon,pinea...|[mango, lemon, pi...|
|  4|                NULL|                NULL|                NULL|
+---+--------------------+--------------------+--------------------+