**Dataframe**

In [ ]:
from pyspark.sql import SparkSession
from datetime import datetime, date
from pyspark.sql import Row, Column

spark = SparkSession.builder.getOrCreate()

**Creating dataframe from spark**

In [ ]:
df = spark.creatDataFrame([],schema ='a long, b double, c string')

In [ ]:
df = spark.createDataFrame([
    Row(a=1, b=2., c='string1', d=date(2000, 1, 1), e=datetime(2000, 1, 1, 12, 0)),
    Row(a=2, b=3., c='string2', d=date(2000, 2, 1), e=datetime(2000, 1, 2, 12, 0)),
    Row(a=4, b=5., c='string3', d=date(2000, 3, 1), e=datetime(2000, 1, 3, 12, 0))
 ])
df

DataFrame[a: bigint, b: double, c: string, d: date, e: timestamp]

**Creating dataframe using pandas**

In [ ]:
import pandas as pd
pandadf = pd.DataFrame({
    'a':[1,2,3],
    'b':[1.2,2.3, 3.4]
})
df1 = spark.createDataFrame(pandadf)
df1

DataFrame[a: bigint, b: double]

In [ ]:
df.show()

+---+---+-------+----------+-------------------+
|  a|  b|      c|         d|                  e|
+---+---+-------+----------+-------------------+
|  1|2.0|string1|2000-01-01|2000-01-01 12:00:00|
|  2|3.0|string2|2000-02-01|2000-01-02 12:00:00|
|  4|5.0|string3|2000-03-01|2000-01-03 12:00:00|
+---+---+-------+----------+-------------------+

In [ ]:
df.show(1)

+---+---+-------+----------+-------------------+
|  a|  b|      c|         d|                  e|
+---+---+-------+----------+-------------------+
|  1|2.0|string1|2000-01-01|2000-01-01 12:00:00|
+---+---+-------+----------+-------------------+
only showing top 1 row

In [ ]:
df.show(1, vertical=True)

-RECORD 0------------------
 a   | 1
 b   | 2.0
 c   | string1
 d   | 2000-01-01
 e   | 2000-01-01 12:00:00
only showing top 1 row

In [ ]:
df.columns

['a', 'b', 'c', 'd', 'e']

In [ ]:
df1.printSchema()

root
 |-- a: long (nullable = true)
 |-- b: double (nullable = true)

In [ ]:
df.select('a','b').show()

+---+---+
|  a|  b|
+---+---+
|  1|2.0|
|  2|3.0|
|  4|5.0|
+---+---+

In [ ]:
df.select('a','b').describe()

DataFrame[summary: string, a: string, b: string]

In [ ]:
df.select('a','b').describe().show()

+-------+------------------+------------------+
|summary|                 a|                 b|
+-------+------------------+------------------+
|  count|                 3|                 3|
|   mean|2.3333333333333335|3.3333333333333335|
| stddev|1.5275252316519465|1.5275252316519465|
|    min|                 1|               2.0|
|    max|                 4|               5.0|
+-------+------------------+------------------+

In [ ]:
from pyspark.sql.functions import upper
df.select(df.c).show()

+-------+
|      c|
+-------+
|string1|
|string2|
|string3|
+-------+

**Assigning new column**

In [ ]:
df.withColumn('uppercase',upper(df.c)).show()

+---+---+-------+----------+-------------------+---------+
|  a|  b|      c|         d|                  e|uppercase|
+---+---+-------+----------+-------------------+---------+
|  1|2.0|string1|2000-01-01|2000-01-01 12:00:00|  STRING1|
|  2|3.0|string2|2000-02-01|2000-01-02 12:00:00|  STRING2|
|  4|5.0|string3|2000-03-01|2000-01-03 12:00:00|  STRING3|
+---+---+-------+----------+-------------------+---------+

**Filter**

In [ ]:
df.filter(df.a==1).show()

+---+---+-------+----------+-------------------+
|  a|  b|      c|         d|                  e|
+---+---+-------+----------+-------------------+
|  1|2.0|string1|2000-01-01|2000-01-01 12:00:00|
+---+---+-------+----------+-------------------+

In [ ]:
from pyspark.sql.functions import col, expr, lit
df.filter(col('a')==1).show()

+---+---+-------+----------+-------------------+
|  a|  b|      c|         d|                  e|
+---+---+-------+----------+-------------------+
|  1|2.0|string1|2000-01-01|2000-01-01 12:00:00|
+---+---+-------+----------+-------------------+

In [ ]:
df.select(col('b')+5).show()

+-------+
|(b + 5)|
+-------+
|    7.0|
|    8.0|
|   10.0|
+-------+

In [ ]:
df.select('a', col('b'),df['c']).describe()

DataFrame[summary: string, a: string, b: string, c: string]

In [ ]:
df.select(expr('a as aa')).show()

+---+
| aa|
+---+
|  1|
|  2|
|  4|
+---+

In [ ]:
df.select(expr('concat(a,b)')).show()

+------------+
|concat(a, b)|
+------------+
|        12.0|
|        23.0|
|        45.0|
+------------+

In [ ]:
#Spark SQL
spark.sql("""select * from table""")

In [ ]:
df.select(col('a').alias('aaa'), 'b','c').show()

+---+---+-------+
|aaa|  b|      c|
+---+---+-------+
|  1|2.0|string1|
|  2|3.0|string2|
|  4|5.0|string3|
+---+---+-------+

In [ ]:
df.filter(col('a')==1).show()

+---+---+-------+----------+-------------------+
|  a|  b|      c|         d|                  e|
+---+---+-------+----------+-------------------+
|  1|2.0|string1|2000-01-01|2000-01-01 12:00:00|
+---+---+-------+----------+-------------------+

In [ ]:
df.filter(df['a']==1).show()

+---+---+-------+----------+-------------------+
|  a|  b|      c|         d|                  e|
+---+---+-------+----------+-------------------+
|  1|2.0|string1|2000-01-01|2000-01-01 12:00:00|
+---+---+-------+----------+-------------------+

In [ ]:
df.filter(col('b')>2).show()

+---+---+-------+----------+-------------------+
|  a|  b|      c|         d|                  e|
+---+---+-------+----------+-------------------+
|  2|3.0|string2|2000-02-01|2000-01-02 12:00:00|
|  4|5.0|string3|2000-03-01|2000-01-03 12:00:00|
+---+---+-------+----------+-------------------+

In [ ]:
df.filter((col('b')==3.0) | (df['b']>3.0)).show()

+---+---+-------+----------+-------------------+
|  a|  b|      c|         d|                  e|
+---+---+-------+----------+-------------------+
|  2|3.0|string2|2000-02-01|2000-01-02 12:00:00|
|  4|5.0|string3|2000-03-01|2000-01-03 12:00:00|
+---+---+-------+----------+-------------------+

In [ ]:
df.select('*', lit('####').alias('name')).show()

+---+---+-------+----------+-------------------+----+
|  a|  b|      c|         d|                  e|name|
+---+---+-------+----------+-------------------+----+
|  1|2.0|string1|2000-01-01|2000-01-01 12:00:00|####|
|  2|3.0|string2|2000-02-01|2000-01-02 12:00:00|####|
|  4|5.0|string3|2000-03-01|2000-01-03 12:00:00|####|
+---+---+-------+----------+-------------------+----+

In [ ]:
df.withColumn(("c"),lit("ddd")).show()

+---+---+---+----------+-------------------+
|  a|  b|  c|         d|                  e|
+---+---+---+----------+-------------------+
|  1|2.0|ddd|2000-01-01|2000-01-01 12:00:00|
|  2|3.0|ddd|2000-02-01|2000-01-02 12:00:00|
|  4|5.0|ddd|2000-03-01|2000-01-03 12:00:00|
+---+---+---+----------+-------------------+

In [ ]:
df.withColumnRenamed('a','cc').show()

+---+---+-------+----------+-------------------+
| cc|  b|      c|         d|                  e|
+---+---+-------+----------+-------------------+
|  1|2.0|string1|2000-01-01|2000-01-01 12:00:00|
|  2|3.0|string2|2000-02-01|2000-01-02 12:00:00|
|  4|5.0|string3|2000-03-01|2000-01-03 12:00:00|
+---+---+-------+----------+-------------------+

In [ ]:
df.withColumn('a',col('a')+5).show()

+---+---+-------+----------+-------------------+
|  a|  b|      c|         d|                  e|
+---+---+-------+----------+-------------------+
|  6|2.0|string1|2000-01-01|2000-01-01 12:00:00|
|  7|3.0|string2|2000-02-01|2000-01-02 12:00:00|
|  9|5.0|string3|2000-03-01|2000-01-03 12:00:00|
+---+---+-------+----------+-------------------+

In [ ]:
df.withColumn('c',lit('singh')).show()

+---+---+-----+----------+-------------------+
|  a|  b|    c|         d|                  e|
+---+---+-----+----------+-------------------+
|  1|2.0|singh|2000-01-01|2000-01-01 12:00:00|
|  2|3.0|singh|2000-02-01|2000-01-02 12:00:00|
|  4|5.0|singh|2000-03-01|2000-01-03 12:00:00|
+---+---+-----+----------+-------------------+

**Casting DataType**

In [ ]:
df.describe()

DataFrame[summary: string, a: string, b: string, c: string]

In [ ]:
df.printSchema()

root
 |-- a: long (nullable = true)
 |-- b: double (nullable = true)
 |-- c: string (nullable = true)
 |-- d: date (nullable = true)
 |-- e: timestamp (nullable = true)

In [ ]:
df.withColumn('a',col('a').cast('string')).printSchema()

root
 |-- a: string (nullable = true)
 |-- b: double (nullable = true)
 |-- c: string (nullable = true)
 |-- d: date (nullable = true)
 |-- e: timestamp (nullable = true)

**Remove Columns**

In [ ]:
df.show()

+---+---+-------+----------+-------------------+
|  a|  b|      c|         d|                  e|
+---+---+-------+----------+-------------------+
|  1|2.0|string1|2000-01-01|2000-01-01 12:00:00|
|  2|3.0|string2|2000-02-01|2000-01-02 12:00:00|
|  4|5.0|string3|2000-03-01|2000-01-03 12:00:00|
+---+---+-------+----------+-------------------+

In [ ]:
df.drop('c').show()

+---+---+----------+-------------------+
|  a|  b|         d|                  e|
+---+---+----------+-------------------+
|  1|2.0|2000-01-01|2000-01-01 12:00:00|
|  2|3.0|2000-02-01|2000-01-02 12:00:00|
|  4|5.0|2000-03-01|2000-01-03 12:00:00|
+---+---+----------+-------------------+

In [ ]:
from pyspark.sql.types import StructType, StructField, StringType, IntegerType

data = [
    ('1','qwe','30','l','8'),
    ('2','asd','23','l','9'),
    ('3','aws','24','k','67'),
    ('4','zxc','21','o','9')
]
schema = StructType([
    StructField('id',StringType(),True),
    StructField('name',StringType(),True),
    StructField('age',StringType(), True),
    StructField('Lname',StringType(),True),
    StructField('jage',StringType(), True)
])

df2 = spark.createDataFrame(data, schema)
df2.show()

+---+----+---+-----+----+
| id|name|age|Lname|jage|
+---+----+---+-----+----+
|  1| qwe| 30|    l|   8|
|  2| asd| 23|    l|   9|
|  3| aws| 24|    k|  67|
|  4| zxc| 21|    o|   9|
+---+----+---+-----+----+

In [ ]:
df2.withColumns({'id':df2.id.cast('int'), 'age':df2.age.cast('int')}).printSchema()

root
 |-- id: integer (nullable = true)
 |-- name: string (nullable = true)
 |-- age: integer (nullable = true)

**Count Rows**

In [ ]:
df2.count()

4

Union- both df needs to have same nu. of columns. just arrages both table one below other without seeing name and datatype.

In [ ]:
df.union(df2).show()

+---+---+-------+----------+-------------------+
|  a|  b|      c|         d|                  e|
+---+---+-------+----------+-------------------+
|  1|2.0|string1|2000-01-01|2000-01-01 12:00:00|
|  2|3.0|string2|2000-02-01|2000-01-02 12:00:00|
|  4|5.0|string3|2000-03-01|2000-01-03 12:00:00|
|  1|qwe|     30|         l|                  8|
|  2|asd|     23|         l|                  9|
|  3|aws|     24|         k|                 67|
|  4|zxc|     21|         o|                  9|
+---+---+-------+----------+-------------------+

In [ ]:
df.unionByName(df2).show()

AnalysisException: Cannot resolve column name "a" among (id, name, age, Lname, jage).

**Selecting particular columns when both df has different no. of columns**

In [ ]:
df.select('a','b').union(df2)

In [ ]:
from pyspark.sql.functions import when
df2.withColumn('Eligible',when(col('age')>21,"Yes")
                          .when(col('age')<=21,"No")
                          .otherwise("Novalue")).show()

+---+----+---+-----+----+--------+
| id|name|age|Lname|jage|Eligible|
+---+----+---+-----+----+--------+
|  1| qwe| 30|    l|   8|     Yes|
|  2| asd| 23|    l|   9|     Yes|
|  3| aws| 24|    k|  67|     Yes|
|  4| zxc| 21|    o|   9|      No|
+---+----+---+-----+----+--------+

First fix null in age

In [ ]:
df2.withColumn('Newage',when(col('age').isNull(),lit(19))
                        .otherwise(col('age'))).show()

+---+----+---+-----+----+------+
| id|name|age|Lname|jage|Newage|
+---+----+---+-----+----+------+
|  1| qwe| 30|    l|   8|    30|
|  2| asd| 23|    l|   9|    23|
|  3| aws| 24|    k|  67|    24|
|  4| zxc| 21|    o|   9|    21|
+---+----+---+-----+----+------+

In [ ]:
df2.createOrReplaceTempView('table2')

In [ ]:
spark.sql("""
select * , case when age>21 then 'Major'
                when age<=21 then 'Minor'
                else 'Novalue'
                end
                as Eligible
from table2
""").show()

+---+----+---+-----+----+--------+
| id|name|age|Lname|jage|Eligible|
+---+----+---+-----+----+--------+
|  1| qwe| 30|    l|   8|   Major|
|  2| asd| 23|    l|   9|   Major|
|  3| aws| 24|    k|  67|   Major|
|  4| zxc| 21|    o|   9|   Minor|
+---+----+---+-----+----+--------+

In [ ]:
df2.distinct().show()

+---+----+---+-----+----+
| id|name|age|Lname|jage|
+---+----+---+-----+----+
|  1| qwe| 30|    l|   8|
|  2| asd| 23|    l|   9|
|  4| zxc| 21|    o|   9|
|  3| aws| 24|    k|  67|
+---+----+---+-----+----+

In [ ]:
df2.distinct().count()

4

count - distinct count = no. of duplicate rows

disticnt based on columns

In [ ]:
df2.select('name','age').distinct().show()

+----+---+
|name|age|
+----+---+
| asd| 23|
| qwe| 30|
| zxc| 21|
| aws| 24|
+----+---+

In [ ]:
df2.drop_duplicates(['name','age']).show()

+---+----+---+-----+----+
| id|name|age|Lname|jage|
+---+----+---+-----+----+
|  2| asd| 23|    l|   9|
|  3| aws| 24|    k|  67|
|  1| qwe| 30|    l|   8|
|  4| zxc| 21|    o|   9|
+---+----+---+-----+----+

In [ ]:
df2.sort('age').show()

+---+----+---+-----+----+
| id|name|age|Lname|jage|
+---+----+---+-----+----+
|  4| zxc| 21|    o|   9|
|  2| asd| 23|    l|   9|
|  3| aws| 24|    k|  67|
|  1| qwe| 30|    l|   8|
+---+----+---+-----+----+

In [ ]:
from pyspark.sql.functions import *
from pyspark.sql.types import *
df2.sort(col('age').desc()).show()

+---+----+---+-----+----+
| id|name|age|Lname|jage|
+---+----+---+-----+----+
|  1| qwe| 30|    l|   8|
|  3| aws| 24|    k|  67|
|  2| asd| 23|    l|   9|
|  4| zxc| 21|    o|   9|
+---+----+---+-----+----+

**Select names when age != 23**

In [ ]:
df2.select('name').filter((col('age')!=23)|(col('age').isNull())).show()

+----+
|name|
+----+
| qwe|
| aws|
| zxc|
+----+

In [ ]:
spark.sql("""
select name from table2 where age!=23 or age is null
""").show()

+----+
|name|
+----+
| qwe|
| aws|
| zxc|
+----+

**Aggregations: Min, Max, Avg**

In [ ]:
df2.select(count('name')).show()

+-----------+
|count(name)|
+-----------+
|          4|
+-----------+

In [ ]:
df2.select(sum('age'),max('age'),min('age').alias('min_age')).show()

+--------+--------+-------+
|sum(age)|max(age)|min_age|
+--------+--------+-------+
|    98.0|      30|     21|
+--------+--------+-------+

In [ ]:
df2.select(count("*")).show()

+--------+
|count(1)|
+--------+
|       4|
+--------+

In [ ]:
df2.select(avg('age').cast('int').alias('avg')).show()

+---+
|avg|
+---+
| 24|
+---+

Calculate total age

In [ ]:
df2.select(sum('age')).show()

+--------+
|sum(age)|
+--------+
|    98.0|
+--------+

In [ ]:
df2.groupBy('age').agg(sum('jage')).show()

+---+---------+
|age|sum(jage)|
+---+---------+
| 30|      8.0|
| 23|      9.0|
| 24|     67.0|
| 21|      9.0|
+---+---------+

**Joins in Pyspark : df.join(dataframe, join expression()()()for multiple conditions,type of join)**

In [ ]:
df2.join(df2,df2['age']==df2['age'],"inner").show()

+---+----+---+-----+----+---+----+---+-----+----+
| id|name|age|Lname|jage| id|name|age|Lname|jage|
+---+----+---+-----+----+---+----+---+-----+----+
|  4| zxc| 21|    o|   9|  4| zxc| 21|    o|   9|
|  2| asd| 23|    l|   9|  2| asd| 23|    l|   9|
|  3| aws| 24|    k|  67|  3| aws| 24|    k|  67|
|  1| qwe| 30|    l|   8|  1| qwe| 30|    l|   8|
+---+----+---+-----+----+---+----+---+-----+----+

In [ ]:
df2.join(df2,df2['age']==df2['age'],'inner').select(df2['name']).show()

AnalysisException: Column name#988 are ambiguous. It's probably because you joined several Datasets together, and some of these Datasets are the same. This column points to one of the Datasets but Spark is unable to figure out which one. Please alias the Datasets with different names via `Dataset.as` before joining them, and specify the column using qualified name, e.g. `df.as("a").join(df.as("b"), $"a.id" > $"b.id")`. You can also set spark.sql.analyzer.failAmbiguousSelfJoin to false to disable this check.

In [1]:
from pyspark.sql.functions import split, explode

**Split and Explode : split will divide it into array**

In [ ]:
df2.select(df2.name,explode(split(df2.age,',')).alias('AGE'))

**Give first not null value in the columns**

In [15]:
from pyspark.sql import SparkSession
from datetime import datetime, date
from pyspark.sql.functions import coalesce, when
from pyspark.sql import Row, Column

spark = SparkSession.builder.getOrCreate()
data = [('Goa','','AP'),
        ('','AP',None),
        (None,'','bglr')]
columns =['city1','city2','city3']
df4 = spark.createDataFrame(data,columns)
df4.show()

+-----+-----+-----+
|city1|city2|city3|
+-----+-----+-----+
|  Goa|     |   AP|
|     |   AP| NULL|
| NULL|     | bglr|
+-----+-----+-----+

In [18]:
df4.select(coalesce(when(df4.city1=='',None).otherwise(df4.city1),
                    when(df4.city2=='',None).otherwise(df4.city2),
                    when(df4.city3=='',None).otherwise(df4.city3)
                    ).alias('Cities')).show()

+------+
|Cities|
+------+
|   Goa|
|    AP|
|  bglr|
+------+

**Calculate percentage, joining two table**

In [19]:
data1=[(1,"Steve"),(2,"David"),(3,"John"),(4,"Shree"),(5,"Helen")]
data2=[(1,"SQL",90),(1,"PySpark",100),(2,"SQL",70),(2,"PySpark",60),(3,"SQL",30),(3,"PySpark",20),(4,"SQL",50),(4,"PySpark",50),(5,"SQL",45),(5,"PySpark",45)]

schema1=["Id","Name"]
schema2=["Id","Subject","Mark"]

df_1=spark.createDataFrame(data1,schema1)
df_2=spark.createDataFrame(data2,schema2)
display(df_1)
display(df_2)

DataFrame[Id: bigint, Name: string]

DataFrame[Id: bigint, Subject: string, Mark: bigint]

In [32]:
df_join = df_1.join(df_2,df_1.Id==df_2.Id).drop(df_2.Id)
display(df_join)

DataFrame[Id: bigint, Name: string, Subject: string, Mark: bigint]

In [47]:
from pyspark.sql.functions import *

df_prev = df_join.groupBy('Id','Name').agg((sum('Mark')/count('*')).alias('Percentage'))
display(df_prev)

DataFrame[Id: bigint, Name: string, Percentage: double]

In [48]:
df_prev.show()

+---+-----+----------+
| Id| Name|Percentage|
+---+-----+----------+
|  1|Steve|      95.0|
|  2|David|      65.0|
|  3| John|      25.0|
|  4|Shree|      50.0|
|  5|Helen|      45.0|
+---+-----+----------+

In [34]:
df_join.groupBy('Id','Name').agg((avg('Mark')).alias('Percentage')).show()

+---+-----+----------+
| Id| Name|Percentage|
+---+-----+----------+
|  1|Steve|      95.0|
|  2|David|      65.0|
|  3| John|      25.0|
|  4|Shree|      50.0|
|  5|Helen|      45.0|
+---+-----+----------+

In [52]:
df_prev.withColumn('Result',
                   when(df_prev.Percentage>=70,'Distinction').
                   when((df_prev.Percentage<70) & (df_prev.Percentage>=60),'First Class').
                   when((df_prev.Percentage<60) & (df_prev.Percentage>=50),'Second Class').
                   when((df_prev.Percentage<50) & (df_prev.Percentage>=40),'Third Class').
                   otherwise('Fail')
                   ).show()

+---+-----+----------+------------+
| Id| Name|Percentage|      Result|
+---+-----+----------+------------+
|  1|Steve|      95.0| Distinction|
|  2|David|      65.0| First Class|
|  3| John|      25.0|        Fail|
|  4|Shree|      50.0|Second Class|
|  5|Helen|      45.0| Third Class|
+---+-----+----------+------------+

In [54]:
 data1=[(1,"A",1000,"IT"),(2,"B",1500,"IT"),(3,"C",2500,"IT"),(4,"D",3000,"HR"),(5,"E",2000,"HR"),(6,"F",1000,"HR")
       ,(7,"G",4000,"Sales"),(8,"H",4000,"Sales"),(9,"I",1000,"Sales"),(10,"J",2000,"Sales")]
schema1=["EmpId","EmpName","Salary","DeptName"]
df=spark.createDataFrame(data1,schema1)
display(df)
df.show()

DataFrame[EmpId: bigint, EmpName: string, Salary: bigint, DeptName: string]

+-----+-------+------+--------+
|EmpId|EmpName|Salary|DeptName|
+-----+-------+------+--------+
|    1|      A|  1000|      IT|
|    2|      B|  1500|      IT|
|    3|      C|  2500|      IT|
|    4|      D|  3000|      HR|
|    5|      E|  2000|      HR|
|    6|      F|  1000|      HR|
|    7|      G|  4000|   Sales|
|    8|      H|  4000|   Sales|
|    9|      I|  1000|   Sales|
|   10|      J|  2000|   Sales|
+-----+-------+------+--------+

In [62]:
from pyspark.sql.window import *
dense_df = df.select('*',
                  dense_rank().over(Window.partitionBy(df.DeptName).orderBy(df.Salary.desc())).alias("Rank")
)
dense_df.show()

+-----+-------+------+--------+----+
|EmpId|EmpName|Salary|DeptName|Rank|
+-----+-------+------+--------+----+
|    4|      D|  3000|      HR|   1|
|    5|      E|  2000|      HR|   2|
|    6|      F|  1000|      HR|   3|
|    3|      C|  2500|      IT|   1|
|    2|      B|  1500|      IT|   2|
|    1|      A|  1000|      IT|   3|
|    7|      G|  4000|   Sales|   1|
|    8|      H|  4000|   Sales|   1|
|   10|      J|  2000|   Sales|   2|
|    9|      I|  1000|   Sales|   3|
+-----+-------+------+--------+----+

In [63]:
dense_df.select('*').where(dense_df.Rank==1).show()

+-----+-------+------+--------+----+
|EmpId|EmpName|Salary|DeptName|Rank|
+-----+-------+------+--------+----+
|    4|      D|  3000|      HR|   1|
|    3|      C|  2500|      IT|   1|
|    7|      G|  4000|   Sales|   1|
|    8|      H|  4000|   Sales|   1|
+-----+-------+------+--------+----+

In [65]:
dense_df.filter(dense_df.Rank==1).show()

+-----+-------+------+--------+----+
|EmpId|EmpName|Salary|DeptName|Rank|
+-----+-------+------+--------+----+
|    4|      D|  3000|      HR|   1|
|    3|      C|  2500|      IT|   1|
|    7|      G|  4000|   Sales|   1|
|    8|      H|  4000|   Sales|   1|
+-----+-------+------+--------+----+

In [67]:
data1=[(100,"Raj",None,1,"01-04-23",50000),
       (200,"Joanne",100,1,"01-04-23",4000),(200,"Joanne",100,1,"13-04-23",4500),(200,"Joanne",100,1,"14-04-23",4020)]
schema1=["EmpId","EmpName","Mgrid","deptid","salarydt","salary"]
df_salary=spark.createDataFrame(data1,schema1)
df_salary.show()
#department dataframe
data2=[(1,"IT"),
       (2,"HR")]
schema2=["deptid","deptname"]
df_dept=spark.createDataFrame(data2,schema2)
df_dept.show()

+-----+-------+-----+------+--------+------+
|EmpId|EmpName|Mgrid|deptid|salarydt|salary|
+-----+-------+-----+------+--------+------+
|  100|    Raj| NULL|     1|01-04-23| 50000|
|  200| Joanne|  100|     1|01-04-23|  4000|
|  200| Joanne|  100|     1|13-04-23|  4500|
|  200| Joanne|  100|     1|14-04-23|  4020|
+-----+-------+-----+------+--------+------+

+------+--------+
|deptid|deptname|
+------+--------+
|     1|      IT|
|     2|      HR|
+------+--------+

In [72]:
df_join1 = df_salary.join(df_dept,df_salary.deptid==df_dept.deptid)
df_join1.show()

+-----+-------+-----+------+--------+------+------+--------+
|EmpId|EmpName|Mgrid|deptid|salarydt|salary|deptid|deptname|
+-----+-------+-----+------+--------+------+------+--------+
|  100|    Raj| NULL|     1|01-04-23| 50000|     1|      IT|
|  200| Joanne|  100|     1|01-04-23|  4000|     1|      IT|
|  200| Joanne|  100|     1|13-04-23|  4500|     1|      IT|
|  200| Joanne|  100|     1|14-04-23|  4020|     1|      IT|
+-----+-------+-----+------+--------+------+------+--------+

In [96]:
df_join2 = df_join1.alias('a').join(df_salary.alias('b'),col('a.Mgrid')==col('b.EmpId'),'left').select(
                        col('a.deptname').alias('DeptName'),
                        col('b.EmpName').alias('MgrName'),
                        col('a.EmpName'),
                        col('a.salarydt'),
                        col('a.salary')
                    )
df_join2.show()

+--------+-------+-------+--------+------+
|DeptName|MgrName|EmpName|salarydt|salary|
+--------+-------+-------+--------+------+
|      IT|   NULL|    Raj|01-04-23| 50000|
|      IT|    Raj| Joanne|01-04-23|  4000|
|      IT|    Raj| Joanne|13-04-23|  4500|
|      IT|    Raj| Joanne|14-04-23|  4020|
+--------+-------+-------+--------+------+

In [113]:
df = df_join2.select('*',
                (year(to_date(df_join2.salarydt,'dd-MM-yy'))).alias('Sal-Year'),
                (month(to_date(df_join2.salarydt,'dd-MM-yy'))).alias('Sal-Month')
                )
df.show()

+--------+-------+-------+--------+------+--------+---------+
|DeptName|MgrName|EmpName|salarydt|salary|Sal-Year|Sal-Month|
+--------+-------+-------+--------+------+--------+---------+
|      IT|   NULL|    Raj|01-04-23| 50000|    2023|        4|
|      IT|    Raj| Joanne|01-04-23|  4000|    2023|        4|
|      IT|    Raj| Joanne|13-04-23|  4500|    2023|        4|
|      IT|    Raj| Joanne|14-04-23|  4020|    2023|        4|
+--------+-------+-------+--------+------+--------+---------+

In [115]:
df.groupBy('DeptName','MgrName','EmpName','Sal-Year','Sal-Month'
).sum('salary').show()

+--------+-------+-------+--------+---------+-----------+
|DeptName|MgrName|EmpName|Sal-Year|Sal-Month|sum(salary)|
+--------+-------+-------+--------+---------+-----------+
|      IT|    Raj| Joanne|    2023|        4|      12520|
|      IT|   NULL|    Raj|    2023|        4|      50000|
+--------+-------+-------+--------+---------+-----------+