<a href="https://colab.research.google.com/github/ankitarm/PySpark/blob/main/Basic_Pyspark.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Merge two data frames

In [ ]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import sum

In [ ]:
spark = SparkSession.builder.appName("Merge").getOrCreate()

simpleData1 = [(1,"name1","cse"),(2, "name2","extc")]
simpleschema1 = ["ID","NAME","DEPT"]

simpleData2 = [(1,"name1","cse"),(2, "name2","extc")]
simpleschema2 = ["ID","NAME","DEPT"]

simpleDataframe1 = spark.createDataFrame(data = simpleData1, schema = simpleschema1)
simpleDataframe1.show()
simpleDataframe2 = spark.createDataFrame(data = simpleData2, schema = simpleschema2)
simpleDataframe2.show()

+---+-----+----+
| ID| NAME|DEPT|
+---+-----+----+
|  1|name1| cse|
|  2|name2|extc|
+---+-----+----+

+---+-----+----+
| ID| NAME|DEPT|
+---+-----+----+
|  1|name1| cse|
|  2|name2|extc|
+---+-----+----+

In [ ]:
# union we can use only if same number of attributies

simpleDataunion = simpleDataframe1.union(simpleDataframe2)
simpleDataunion.show()

+---+-----+----+
| ID| NAME|DEPT|
+---+-----+----+
|  1|name1| cse|
|  2|name2|extc|
|  1|name1| cse|
|  2|name2|extc|
+---+-----+----+

In [ ]:
"""join - Since the two DataFrames are identical in terms of both the
schema and the data, the join will merge every row in the first
DataFrame with every row in the second DataFrame, resulting
in a Cartesian product """
simpleDatajoin = simpleDataframe1.join(simpleDataframe2)
simpleDatajoin.show()

+---+-----+----+---+-----+----+
| ID| NAME|DEPT| ID| NAME|DEPT|
+---+-----+----+---+-----+----+
|  1|name1| cse|  1|name1| cse|
|  1|name1| cse|  2|name2|extc|
|  2|name2|extc|  1|name1| cse|
|  2|name2|extc|  2|name2|extc|
+---+-----+----+---+-----+----+

In [ ]:
simpleData11 = [(1,"name1","cse",12),(2, "name2","extc",21)]
simpleschema11 = ["ID","NAME","DEPT", "AGE"]
simpleDataframe11 = spark.createDataFrame(simpleData11, simpleschema11)
simpleDataframe11.show()

+---+-----+----+---+
| ID| NAME|DEPT|AGE|
+---+-----+----+---+
|  1|name1| cse| 12|
|  2|name2|extc| 21|
+---+-----+----+---+

In [ ]:
#error as the number of columns not same
simpleDataunion1 = simpleDataframe1.union(simpleDataframe11)
simpleDataunion1.show()

AnalysisException: [NUM_COLUMNS_MISMATCH] UNION can only be performed on inputs with the same number of columns, but the first input has 3 columns and the second input has 4 columns.;
'Union false, false
:- LogicalRDD [ID#157L, NAME#158, DEPT#159], false
+- LogicalRDD [ID#195L, NAME#196, DEPT#197, AGE#198L], false

In [ ]:
#join - as the columns differe, so no cross join instead inner join

simpleDatajoin1 = simpleDataframe1.join(simpleDataframe11)
simpleDatajoin1.show()

+---+-----+----+---+-----+----+---+
| ID| NAME|DEPT| ID| NAME|DEPT|AGE|
+---+-----+----+---+-----+----+---+
|  1|name1| cse|  1|name1| cse| 12|
|  1|name1| cse|  2|name2|extc| 21|
|  2|name2|extc|  1|name1| cse| 12|
|  2|name2|extc|  2|name2|extc| 21|
+---+-----+----+---+-----+----+---+

In [ ]:
from pyspark.sql.functions import lit
simpleDataframe21 = simpleDataframe2.withColumn("AGE", lit("null"))
simpleDataframe21.show()

+---+-----+----+----+
| ID| NAME|DEPT| AGE|
+---+-----+----+----+
|  1|name1| cse|null|
|  2|name2|extc|null|
+---+-----+----+----+

In [ ]:
simpleDataunifies1 = simpleDataframe21.union(simpleDataframe11)
simpleDataunifies1.show()

+---+-----+----+----+
| ID| NAME|DEPT| AGE|
+---+-----+----+----+
|  1|name1| cse|null|
|  2|name2|extc|null|
|  1|name1| cse|  12|
|  2|name2|extc|  21|
+---+-----+----+----+

same schema - two dataframes will do cross join


same number of columns - union will work as long as datatype same

In [ ]:
simpleData22 = [(1,"name1","cse",11),(2, "name2","extc",21)]
simpleschema22 = ["ID","NAME","DEPT", "AGE"]
simpleDataframe22 = spark.createDataFrame(simpleData22, simpleschema22)
simpleDataframe22.show()
simpleDataframe11.show()

+---+-----+----+---+
| ID| NAME|DEPT|AGE|
+---+-----+----+---+
|  1|name1| cse| 11|
|  2|name2|extc| 21|
+---+-----+----+---+

+---+-----+----+---+
| ID| NAME|DEPT|AGE|
+---+-----+----+---+
|  1|name1| cse| 12|
|  2|name2|extc| 21|
+---+-----+----+---+

In [ ]:
#cross
simpleDatacrossjoin = simpleDataframe11.join(simpleDataframe22)
simpleDatacrossjoin.show()

+---+-----+----+---+---+-----+----+---+
| ID| NAME|DEPT|AGE| ID| NAME|DEPT|AGE|
+---+-----+----+---+---+-----+----+---+
|  1|name1| cse| 12|  1|name1| cse| 11|
|  1|name1| cse| 12|  2|name2|extc| 21|
|  2|name2|extc| 21|  1|name1| cse| 11|
|  2|name2|extc| 21|  2|name2|extc| 21|
+---+-----+----+---+---+-----+----+---+

In [ ]:
#inner
simpleDatainnerjoin1 = simpleDataframe11.join(simpleDataframe22, on = "ID",how ="inner")
simpleDatainnerjoin1.show()

+---+-----+----+---+-----+----+---+
| ID| NAME|DEPT|AGE| NAME|DEPT|AGE|
+---+-----+----+---+-----+----+---+
|  1|name1| cse| 12|name1| cse| 11|
|  2|name2|extc| 21|name2|extc| 21|
+---+-----+----+---+-----+----+---+

In [ ]:
#left-left outer
simpleDataleftjoin = simpleDataframe11.join(simpleDataframe22, on = "AGE",how ="left")
simpleDataleftjoin.show()

+---+---+-----+----+----+-----+----+
|AGE| ID| NAME|DEPT|  ID| NAME|DEPT|
+---+---+-----+----+----+-----+----+
| 12|  1|name1| cse|NULL| NULL|NULL|
| 21|  2|name2|extc|   2|name2|extc|
+---+---+-----+----+----+-----+----+

In [ ]:
#right-right outer
simpleDatarightjoin = simpleDataframe11.join(simpleDataframe22, on = "AGE",how ="right")
simpleDatarightjoin.show()

+---+----+-----+----+---+-----+----+
|AGE|  ID| NAME|DEPT| ID| NAME|DEPT|
+---+----+-----+----+---+-----+----+
| 11|NULL| NULL|NULL|  1|name1| cse|
| 21|   2|name2|extc|  2|name2|extc|
+---+----+-----+----+---+-----+----+

In [ ]:
#full outer
simpleDatarightjoin = simpleDataframe11.join(simpleDataframe22, on = "AGE",how ="outer")
simpleDatarightjoin.show()

+---+----+-----+----+----+-----+----+
|AGE|  ID| NAME|DEPT|  ID| NAME|DEPT|
+---+----+-----+----+----+-----+----+
| 11|NULL| NULL|NULL|   1|name1| cse|
| 12|   1|name1| cse|NULL| NULL|NULL|
| 21|   2|name2|extc|   2|name2|extc|
+---+----+-----+----+----+-----+----+

In [ ]:
#left-semi
simpleDataleftsemijoin = simpleDataframe11.join(simpleDataframe22, on = "AGE",how ="left_semi")
simpleDataleftsemijoin.show()

+---+---+-----+----+
|AGE| ID| NAME|DEPT|
+---+---+-----+----+
| 21|  2|name2|extc|
+---+---+-----+----+

In [ ]:
#left-anti
simpleDataleftantijoin = simpleDataframe11.join(simpleDataframe22, on = "AGE",how ="left_anti")
simpleDataleftantijoin.show()

+---+---+-----+----+
|AGE| ID| NAME|DEPT|
+---+---+-----+----+
| 12|  1|name1| cse|
+---+---+-----+----+

In [ ]:
#joining on multiple columns
simpleDatamulcol = simpleDataframe11.join(simpleDataframe22, on = ["ID","NAME"],how ="inner")
simpleDatamulcol.show()

+---+-----+----+---+----+---+
| ID| NAME|DEPT|AGE|DEPT|AGE|
+---+-----+----+---+----+---+
|  1|name1| cse| 12| cse| 11|
|  2|name2|extc| 21|extc| 21|
+---+-----+----+---+----+---+

In [ ]:
#joining on different column names
simpleDatadiffcol = simpleDataframe11.join(simpleDataframe22,on = [simpleDataframe11.ID == simpleDataframe22.ID , simpleDataframe11.NAME == simpleDataframe22.NAME],how ="inner")
simpleDatadiffcol.show()

+---+-----+----+---+---+-----+----+---+
| ID| NAME|DEPT|AGE| ID| NAME|DEPT|AGE|
+---+-----+----+---+---+-----+----+---+
|  1|name1| cse| 12|  1|name1| cse| 11|
|  2|name2|extc| 21|  2|name2|extc| 21|
+---+-----+----+---+---+-----+----+---+

**2. Explode Column using Pyspark**

In [ ]:
from pyspark.sql.functions import explode, split

data21 = [(1,["a","b"]),(2,["c","l"]),(3,["f","u"])]
schema21 = ["ID","Name"]
dataframe21 = spark.createDataFrame(data21,schema21)
dataframe21.show()

+---+------+
| ID|  Name|
+---+------+
|  1|[a, b]|
|  2|[c, l]|
|  3|[f, u]|
+---+------+

In [ ]:
dataframe21explode = dataframe21.select("ID",explode("Name"))
dataframe21explode.show()

+---+---+
| ID|col|
+---+---+
|  1|  a|
|  1|  b|
|  2|  c|
|  2|  l|
|  3|  f|
|  3|  u|
+---+---+

In [ ]:
dataframe22explode = dataframe21.withColumn("Name1",explode("Name"))
dataframe22explode.show()

+---+------+-----+
| ID|  Name|Name1|
+---+------+-----+
|  1|[a, b]|    a|
|  1|[a, b]|    b|
|  2|[c, l]|    c|
|  2|[c, l]|    l|
|  3|[f, u]|    f|
|  3|[f, u]|    u|
+---+------+-----+

**3. Solve using Regex**

In [ ]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import sum, rlike, col

spark = SparkSession.builder.appName("Regex").getOrCreate()
data30 = [(1,"Shivam","U67567879"), (2,"Sagar","5678909876"), (3, "Muni", "45678u678")]
schema30 = ["ID","Name","Mobileno"]
df30 = spark.createDataFrame(data30,schema30)
df30.show()

+---+------+----------+
| ID|  Name|  Mobileno|
+---+------+----------+
|  1|Shivam| U67567879|
|  2| Sagar|5678909876|
|  3|  Muni| 45678u678|
+---+------+----------+

In [ ]:
df30.filter(col("Mobileno").rlike("^[0-9]+$")).show()

+---+-----+----------+
| ID| Name|  Mobileno|
+---+-----+----------+
|  2|Sagar|5678909876|
+---+-----+----------+

***createOrReplaceTempView()***

In [ ]:
df30.createOrReplaceTempView("dataf30")

None

In [ ]:
df31 = spark.sql("""select * from dataf30 where Mobileno REGEXP '^[0-9]+$'""")
df31.show()

+---+-----+----------+
| ID| Name|  Mobileno|
+---+-----+----------+
|  2|Sagar|5678909876|
+---+-----+----------+

**4. Count rows in each column where NULLs present**

In [ ]:
from pyspark.sql.functions import col, sum, when
from pyspark.sql.types import StructType, StructField, IntegerType, StringType

data40 = [
    (1, "Alice", "1234567890"),
    (2, None,    "9876543210"),
    (3, "Charlie", None),
    (4, None,    None),
    (None, "Eve", "5556667777")
]

# Schema definition
schema40 = StructType([
    StructField("ID", IntegerType(), True),
    StructField("Name", StringType(), True),
    StructField("Mobile", StringType(), True)
])

# Create DataFrame
df40 = spark.createDataFrame(data40, schema40)

df40.show()

+----+-------+----------+
|  ID|   Name|    Mobile|
+----+-------+----------+
|   1|  Alice|1234567890|
|   2|   NULL|9876543210|
|   3|Charlie|      NULL|
|   4|   NULL|      NULL|
|NULL|    Eve|5556667777|
+----+-------+----------+

List comprehension python code bellow

In [ ]:
df41nulls = df40.select(
    [sum(when(col(c).isNull(),1).otherwise(0)).alias(c+"_Nulls")
    for c in df40.columns]
)
df41nulls.show()

+--------+----------+------------+
|ID_Nulls|Name_Nulls|Mobile_Nulls|
+--------+----------+------------+
|       1|         2|           2|
+--------+----------+------------+

**5. Handling multiple delimiters**

In [ ]:
from pyspark.sql.functions import split, regexp_replace
data5 = [
    (1, "apple,banana|cherry"),
    (2, "grape;orange,kiwi"),
    (3, "mango|lemon;pineapple"),
    (4, None)
]

columns5 = ["ID", "Fruits"]
df5 = spark.createDataFrame(data5, columns5)
df5.show(truncate=False)

+---+---------------------+
|ID |Fruits               |
+---+---------------------+
|1  |apple,banana|cherry  |
|2  |grape;orange,kiwi    |
|3  |mango|lemon;pineapple|
|4  |NULL                 |
+---+---------------------+

In [ ]:
df51 = df5.withColumn("Fruits_Normalized",regexp_replace("Fruits","[,|:;]",","))
df51.show()

+---+--------------------+--------------------+
| ID|              Fruits|   Fruits_Normalized|
+---+--------------------+--------------------+
|  1| apple,banana|cherry| apple,banana,cherry|
|  2|   grape;orange,kiwi|   grape,orange,kiwi|
|  3|mango|lemon;pinea...|mango,lemon,pinea...|
|  4|                NULL|                NULL|
+---+--------------------+--------------------+

In [ ]:
df52 = df51.withColumn("Fruit_Split", split("Fruits_Normalized",","))
df52.show()

+---+--------------------+--------------------+--------------------+
| ID|              Fruits|   Fruits_Normalized|         Fruit_Split|
+---+--------------------+--------------------+--------------------+
|  1| apple,banana|cherry| apple,banana,cherry|[apple, banana, c...|
|  2|   grape;orange,kiwi|   grape,orange,kiwi|[grape, orange, k...|
|  3|mango|lemon;pinea...|mango,lemon,pinea...|[mango, lemon, pi...|
|  4|                NULL|                NULL|                NULL|
+---+--------------------+--------------------+--------------------+

**6. Using regexp_replace**

In [ ]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import split, explode, regexp_replace,col,trim

spark = SparkSession.builder.appName("Regexp").getOrCreate()
data6 = spark.createDataFrame([" 1-12-23-2-34-45-3-45-45-4-56-67"],"String")
data6.show()

+--------------------+
|               value|
+--------------------+
| 1-12-23-2-34-45-...|
+--------------------+

In [ ]:
data61 = data6.withColumn("Value", regexp_replace(col("value"),"(.*?\\-){3}","$0,"))
data61.show(truncate = False)

+-----------------------------------+
|Value                              |
+-----------------------------------+
| 1-12-23-,2-34-45-,3-45-45-,4-56-67|
+-----------------------------------+

In [ ]:
data61.withColumn("Value",explode(split(col("Value"), "-,"))).show(truncate = False)

+--------+
|Value   |
+--------+
| 1-12-23|
|2-34-45 |
|3-45-45 |
|4-56-67 |
+--------+

In [ ]:
data62 = data61.withColumn("Value",explode(split(trim(col("Value")), "-,")))
data62.show(truncate = False)

+-------+
|Value  |
+-------+
|1-12-23|
|2-34-45|
|3-45-45|
|4-56-67|
+-------+

In [ ]:
data63 = data62.withColumn("Value",split(col("Value"),"-"))
data63.show()

+-----------+
|      Value|
+-----------+
|[1, 12, 23]|
|[2, 34, 45]|
|[3, 45, 45]|
|[4, 56, 67]|
+-----------+

In [ ]:
data64 = data63.withColumn("Age",col("Value")[0]).withColumn("ID",col("Value")[1]).withColumn("No", col("Value")[2])
data64.show()

+-----------+---+---+---+
|      Value|Age| ID| No|
+-----------+---+---+---+
|[1, 12, 23]|  1| 12| 23|
|[2, 34, 45]|  2| 34| 45|
|[3, 45, 45]|  3| 45| 45|
|[4, 56, 67]|  4| 56| 67|
+-----------+---+---+---+

**7. Pivoting data - Name- rows to new columns **

In [ ]:
data70 = [(1,'Gaga','India',"2022-01-11"),(1,'Katy','UK', "2022-01-11"),(1,'Bey','Europe', "2022-01-11"),(2,'Gaga',None, "2022-10-11"),(2,'Katy','India', "2022-10-11"),(2,'Bey','US',"2022-02-15"),(3,'Gaga','Europe', "2022-10-11"),
(3,'Katy','US',"2022-10-11"),(3,'Bey',None,"2022-02-15"), (1, 'Gaga','US',"2022-01-11"),(3, 'Katy', 'Switz',"2022-02-15") ]
dataf70 = spark.createDataFrame(data70,['ID','NAME','COUNTRY', 'Date_part'])
dataf70.show()

+---+----+-------+----------+
| ID|NAME|COUNTRY| Date_part|
+---+----+-------+----------+
|  1|Gaga|  India|2022-01-11|
|  1|Katy|     UK|2022-01-11|
|  1| Bey| Europe|2022-01-11|
|  2|Gaga|   NULL|2022-10-11|
|  2|Katy|  India|2022-10-11|
|  2| Bey|     US|2022-02-15|
|  3|Gaga| Europe|2022-10-11|
|  3|Katy|     US|2022-10-11|
|  3| Bey|   NULL|2022-02-15|
|  1|Gaga|     US|2022-01-11|
|  3|Katy|  Switz|2022-02-15|
+---+----+-------+----------+

But we want other  entries of countries  also in the name columns hence collect_list

In [ ]:
from pyspark.sql.functions import collect_list, first
data71 = dataf70.groupBy("ID","Date_part").pivot("NAME").agg(collect_list("COUNTRY"))
data71.show()
display(data71)

+---+----------+--------+-----------+-------+
| ID| Date_part|     Bey|       Gaga|   Katy|
+---+----------+--------+-----------+-------+
|  1|2022-01-11|[Europe]|[India, US]|   [UK]|
|  2|2022-10-11|      []|         []|[India]|
|  2|2022-02-15|    [US]|         []|     []|
|  3|2022-02-15|      []|         []|[Switz]|
|  3|2022-10-11|      []|   [Europe]|   [US]|
+---+----------+--------+-----------+-------+

DataFrame[ID: bigint, Date_part: string, Bey: array<string>, Gaga: array<string>, Katy: array<string>]

In [ ]:
from pyspark.sql.functions import arrays_zip
data72 = data71.withColumn("new", arrays_zip("Bey","Gaga","Katy")).withColumn("new1",explode("new")).drop("new")
data72.show(truncate = False)
data73 = data72.select("ID","Date_part","new1.Bey","new1.Gaga","new1.Katy")
display(data72)
data73.show()

+---+----------+--------+-----------+-------+-------------------+
|ID |Date_part |Bey     |Gaga       |Katy   |new1               |
+---+----------+--------+-----------+-------+-------------------+
|1  |2022-01-11|[Europe]|[India, US]|[UK]   |{Europe, India, UK}|
|1  |2022-01-11|[Europe]|[India, US]|[UK]   |{NULL, US, NULL}   |
|2  |2022-10-11|[]      |[]         |[India]|{NULL, NULL, India}|
|2  |2022-02-15|[US]    |[]         |[]     |{US, NULL, NULL}   |
|3  |2022-02-15|[]      |[]         |[Switz]|{NULL, NULL, Switz}|
|3  |2022-10-11|[]      |[Europe]   |[US]   |{NULL, Europe, US} |
+---+----------+--------+-----------+-------+-------------------+

DataFrame[ID: bigint, Date_part: string, Bey: array<string>, Gaga: array<string>, Katy: array<string>, new1: struct<Bey:string,Gaga:string,Katy:string>]

+---+----------+------+------+-----+
| ID| Date_part|   Bey|  Gaga| Katy|
+---+----------+------+------+-----+
|  1|2022-01-11|Europe| India|   UK|
|  1|2022-01-11|  NULL|    US| NULL|
|  2|2022-10-11|  NULL|  NULL|India|
|  2|2022-02-15|    US|  NULL| NULL|
|  3|2022-02-15|  NULL|  NULL|Switz|
|  3|2022-10-11|  NULL|Europe|   US|
+---+----------+------+------+-----+

In [ ]:
list_of_cols = data71pivot.columns[2:]
for i in range(len(list_of_cols)):
  list_of_cols[i] = "new1."+list_of_cols[i]
data72 = data71.withColumn("new", arrays_zip(*data71pivot.columns[2:])).withColumn("new1",explode("new")).drop("new")
data72.show(truncate = False)
data73 = data72.select(*data71pivot.columns[:2],*list_of_cols)
display(data72)
data73.show()

+---+----------+--------+-----------+-------+-------------------+
|ID |Date_part |Bey     |Gaga       |Katy   |new1               |
+---+----------+--------+-----------+-------+-------------------+
|1  |2022-01-11|[Europe]|[India, US]|[UK]   |{Europe, India, UK}|
|1  |2022-01-11|[Europe]|[India, US]|[UK]   |{NULL, US, NULL}   |
|2  |2022-10-11|[]      |[]         |[India]|{NULL, NULL, India}|
|2  |2022-02-15|[US]    |[]         |[]     |{US, NULL, NULL}   |
|3  |2022-02-15|[]      |[]         |[Switz]|{NULL, NULL, Switz}|
|3  |2022-10-11|[]      |[Europe]   |[US]   |{NULL, Europe, US} |
+---+----------+--------+-----------+-------+-------------------+

DataFrame[ID: bigint, Date_part: string, Bey: array<string>, Gaga: array<string>, Katy: array<string>, new1: struct<Bey:string,Gaga:string,Katy:string>]

+---+----------+------+------+-----+
| ID| Date_part|   Bey|  Gaga| Katy|
+---+----------+------+------+-----+
|  1|2022-01-11|Europe| India|   UK|
|  1|2022-01-11|  NULL|    US| NULL|
|  2|2022-10-11|  NULL|  NULL|India|
|  2|2022-02-15|    US|  NULL| NULL|
|  3|2022-02-15|  NULL|  NULL|Switz|
|  3|2022-10-11|  NULL|Europe|   US|
+---+----------+------+------+-----+

**8. Check the value of Nulls in each Column**

In [ ]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import sum, col, count, when
spark = SparkSession.builder.appName("CountNulls").getOrCreate()
data8=[(1,'Sagar',23),(2,None,34),(None,None,40),(5,'Alex',None),(4,'Kim',None)]
data80=spark.createDataFrame(data8,schema="ID int,Name string,Age int")
data80.show()

+----+-----+----+
|  ID| Name| Age|
+----+-----+----+
|   1|Sagar|  23|
|   2| NULL|  34|
|NULL| NULL|  40|
|   5| Alex|NULL|
|   4|  Kim|NULL|
+----+-----+----+

In [ ]:
data81 = data80.select( [ count(when(col(i).isNull(),i)).alias(i+"_Null") for i in data80.columns ])
data81.show()

+-------+---------+--------+
|ID_Null|Name_Null|Age_Null|
+-------+---------+--------+
|      1|        2|       2|
+-------+---------+--------+

**9. Solve using regexp_extract method**

In [ ]:
data9=[('ABSHFJFJ12QWERT12',1),('QWERT5674OTUT1',2),('DGDGNJDJ1234UYI',3)]
data90=spark.createDataFrame(data9,schema="input_string string,id int")
data90.show()

+-----------------+---+
|     input_string| id|
+-----------------+---+
|ABSHFJFJ12QWERT12|  1|
|   QWERT5674OTUT1|  2|
|  DGDGNJDJ1234UYI|  3|
+-----------------+---+

In [ ]:
from pyspark.sql.functions import regexp_extract

data91 = data90.withColumn("new_col", regexp_extract(data90.input_string, "(^[a-zA-Z]*[0-9]*)" , 1))
data91.show()

+-----------------+---+------------+
|     input_string| id|     new_col|
+-----------------+---+------------+
|ABSHFJFJ12QWERT12|  1|  ABSHFJFJ12|
|   QWERT5674OTUT1|  2|   QWERT5674|
|  DGDGNJDJ1234UYI|  3|DGDGNJDJ1234|
+-----------------+---+------------+

In [ ]:
data92 = data91.withColumn("new_col2", regexp_extract(data91.input_string,"([a-zA-Z]*[0-9]*$)",1))
data92.show()

+-----------------+---+------------+--------+
|     input_string| id|     new_col|new_col2|
+-----------------+---+------------+--------+
|ABSHFJFJ12QWERT12|  1|  ABSHFJFJ12| QWERT12|
|   QWERT5674OTUT1|  2|   QWERT5674|   OTUT1|
|  DGDGNJDJ1234UYI|  3|DGDGNJDJ1234|     UYI|
+-----------------+---+------------+--------+

10.

In [ ]:
path='/FileStore/tables/csv_with_no_header.csv'
df=spark.read.option('header',True).option('inferschema',True).csv(f'{path}').limit(1)
if(df.schema==schema):
    df.write.mode('overwrite').save('/FileStore/tables/csv_with_header_output/')
else:
    df=spark.read.option('header',False).schema(schema).csv(f'{path}')
    df.write.mode('overwrite').save('/FileStore/tables/csv_with_header_output/')

**11. Solve using REGEXP_REPLACE and REGEXP_EXTRACT in PySpark**

In [ ]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import split, col, explode
spark = SparkSession.builder.appName("regexp").getOrCreate()
data110=[(1,"Sagar-Prajapati"),(2,"Alex-John"),(3,"John Cena"),(4,"Kim Joe")]
schema110="ID int,Name string"
data11=spark.createDataFrame(data110,schema110)
data11.show()

+---+---------------+
| ID|           Name|
+---+---------------+
|  1|Sagar-Prajapati|
|  2|      Alex-John|
|  3|      John Cena|
|  4|        Kim Joe|
+---+---------------+

In [ ]:
data111 = data11.select(split(col("Name"),"[- ]").alias("Names")).withColumn("First_name",col("Names")[0]).withColumn("Last_name", col("Names")[1])
data111.show()

+------------------+----------+---------+
|             Names|First_name|Last_name|
+------------------+----------+---------+
|[Sagar, Prajapati]|     Sagar|Prajapati|
|      [Alex, John]|      Alex|     John|
|      [John, Cena]|      John|     Cena|
|        [Kim, Joe]|       Kim|      Joe|
+------------------+----------+---------+

**12. Write a Pyspark query to report the movies with an odd-numbered ID and a description that is not "boring".Return the result table in descending order by rating.**

In [ ]:
data120=[(1, 'War','great 3D',8.9)
,(2, 'Science','fiction',8.5)
,(3, 'irish','boring',6.2)
,(4, 'Ice song','Fantacy',8.6)
,(5, 'House card','Interesting',9.1)]
schema120="ID int,movie string,description string,rating double"
data12=spark.createDataFrame(data120,schema120)
data12.show()

+---+----------+-----------+------+
| ID|     movie|description|rating|
+---+----------+-----------+------+
|  1|       War|   great 3D|   8.9|
|  2|   Science|    fiction|   8.5|
|  3|     irish|     boring|   6.2|
|  4|  Ice song|    Fantacy|   8.6|
|  5|House card|Interesting|   9.1|
+---+----------+-----------+------+

In [ ]:
data121 = data12.select("*").where((col("ID")%2==1) & (col("description")!="boring") )
data121.show()

+---+----------+-----------+------+
| ID|     movie|description|rating|
+---+----------+-----------+------+
|  1|       War|   great 3D|   8.9|
|  5|House card|Interesting|   9.1|
+---+----------+-----------+------+

In [ ]:
data12.createOrReplaceTempView("view12")
data122 = spark.sql("""select * from view12 where ID%2 == 1 and description != 'boring'""")
data122.show()

+---+----------+-----------+------+
| ID|     movie|description|rating|
+---+----------+-----------+------+
|  1|       War|   great 3D|   8.9|
|  5|House card|Interesting|   9.1|
+---+----------+-----------+------+

**13. Solve using PySpark- Collect_list and Aggregation**

In [ ]:
data130 = [
    ("john", "tomato", 2),
    ("", "", 2),
    ("john", "", 2),
    ("john", "tomato", 3),
    ("", "", 2),
    ("", "", 2)
]
schema130 = "name string,item string,weight int"
data13 = spark.createDataFrame(data130, schema130)
data13.show()

+--------+------------+------+
|    name|        item|weight|
+--------+------------+------+
|    john|      tomato|     2|
||  |     2|
|    john||     2|
|    john|      tomato|     3|
||    |     2|
||  |     2|
+--------+------------+------+

In [ ]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import split, col, explode, sum, struct
spark = SparkSession.builder.appName("Collect_List").getOrCreate()
from pyspark.sql.functions import collect_list
data131 = data13.groupBy("name","item").agg(sum("weight").alias("Sum"))
data131.show(truncate = False)

+--------+------------+---+
|name    |item        |Sum|
+--------+------------+---+
||  |4  |
|john    |tomato      |5  |
|john    ||2  |
||    |2  |
+--------+------------+---+

In [ ]:
data132 = data131.groupBy("name").agg(collect_list(struct("item","sum")).alias("List"))
data132.show(truncate=False)

+--------+--------------------------------+
|name    |List                            |
+--------+--------------------------------+
||[{, 4}, {, 2}]|
|john    |[{tomato, 5}, {, 2}]|
+--------+--------------------------------+

**14.  Write a pyspark dataframe query to find all duplicate emails | IBM Interview Question |**

In [ ]:
data140 = [(1, "abc@gmail.com"), (2, "bcd@gmail.com"), (3, "abc@gmail.com")]
schema140 = "ID int,email string"
data141 = spark.createDataFrame(data140, schema140)
data141.show()

+---+-------------+
| ID|        email|
+---+-------------+
|  1|abc@gmail.com|
|  2|bcd@gmail.com|
|  3|abc@gmail.com|
+---+-------------+

In [ ]:
from pyspark.sql.functions import count
data142 = data141.groupBy("email").agg(count("email").alias("dups")).where( col("dups") > 1)
data142.show()

+-------------+----+
|        email|dups|
+-------------+----+
|abc@gmail.com|   2|
+-------------+----+

15 . Find Customers who never ordered anything.

In [ ]:
data150=[(1,'Sagar'),(2,'Alex'),(3,'John'),(4,'Kim')]
schema150="Customer_ID int, Customer_Name string"
data15=spark.createDataFrame(data150,schema150)
data15.show()

data151=[(1,4),(3,2)]
schema151="Order_ID int, Customer_ID int"
data151=spark.createDataFrame(data151,schema151)
data151.show()

+-----------+-------------+
|Customer_ID|Customer_Name|
+-----------+-------------+
|          1|        Sagar|
|          2|         Alex|
|          3|         John|
|          4|          Kim|
+-----------+-------------+

+--------+-----------+
|Order_ID|Customer_ID|
+--------+-----------+
|       1|          4|
|       3|          2|
+--------+-----------+

In [ ]:
data152 = data15.join(data151,"Customer_ID","left_anti")
data152.show()

+-----------+-------------+
|Customer_ID|Customer_Name|
+-----------+-------------+
|          1|        Sagar|
|          3|         John|
+-----------+-------------+

**16. Write a report that provides customer id from customer table that brought all the products in product table.**

In [ ]:
data160=[(1,5),(2,6),(3,5),(3,6),(1,6)]
schema160="customer_id int,product_key int"
data16=spark.createDataFrame(data160,schema160)
data16.show()

data161=[(5,),(6,)]
schema161="product_key int"
data162=spark.createDataFrame(data161,schema161)
data162.show()

+-----------+-----------+
|customer_id|product_key|
+-----------+-----------+
|          1|          5|
|          2|          6|
|          3|          5|
|          3|          6|
|          1|          6|
+-----------+-----------+

+-----------+
|product_key|
+-----------+
|          5|
|          6|
+-----------+

In [ ]:
from pyspark.sql.functions import count_distinct
data163 = data16.groupBy("customer_id").agg(count_distinct("product_key").alias("distinct_product_key"))
data163.show()

+-----------+--------------------+
|customer_id|distinct_product_key|
+-----------+--------------------+
|          1|                   2|
|          3|                   2|
|          2|                   1|
+-----------+--------------------+

In [ ]:
data164 = data162.select(count_distinct("product_key").alias("distinct_product_key"))
data164.show()

+--------------------+
|distinct_product_key|
+--------------------+
|                   2|
+--------------------+

In [ ]:
data163.join(data164,"distinct_product_key","inner").select("customer_id").show()

+-----------+
|customer_id|
+-----------+
|          1|
|          3|
+-----------+

**17. Get employees,dept id with max and min salary in each department**

In [ ]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import min, max, collect_list, struct, col
spark = SparkSession.builder.appName("min-max").getOrCreate()
data170=[('Genece' , 2 , 75000),
('' , 2 , 80000),
('' , 2 , 80000),
('Tarvares' , 2 , 70000),
('Marlania' , 4 , 70000),
('Briana' , 4 , 85000),
('' , 4 , 55000),
('' , 4 , 55000),
('Lakken', 5, 60000),
('Latoynia' , 5 , 65000) ]
schema170="emp_name string,dept_id int,salary int"
data17=spark.createDataFrame(data170,schema170)
data17.show()

+------------------+-------+------+
|          emp_name|dept_id|salary|
+------------------+-------+------+
|            Genece|      2| 75000|
|      |      2| 80000|
|      |      2| 80000|
|          Tarvares|      2| 70000|
|          Marlania|      4| 70000|
|            Briana|      4| 85000|
|  |      4| 55000|
||      4| 55000|
|            Lakken|      5| 60000|
|          Latoynia|      5| 65000|
+------------------+-------+------+

Cannot use any agg inside struct....

In [ ]:
data171 = data17.groupBy("dept_id").agg(min("salary").alias("Min") , max("salary").alias("Max"))
data171 .show()

+-------+-----+-----+
|dept_id|  Min|  Max|
+-------+-----+-----+
|      4|55000|85000|
|      2|70000|80000|
|      5|60000|65000|
+-------+-----+-----+

In [ ]:
data172 = data17.join(data171, (data17.dept_id == data171.dept_id) & (data17.salary == data171.Min), "right").select(col("emp_name").alias("emp_name_min"), data17.dept_id, "Min" )
data172.show()

+------------------+-------+-----+
|      emp_name_min|dept_id|  Min|
+------------------+-------+-----+
||      4|55000|
|  |      4|55000|
|          Tarvares|      2|70000|
|            Lakken|      5|60000|
+------------------+-------+-----+

In [ ]:
data173 = data17.join(data171, (data17.dept_id == data171.dept_id) & (data17.salary == data171.Max), "right").select(col("emp_name").alias("emp_name_max"), data17.dept_id, "Max" )
data173.show()

+------------+-------+-----+
|emp_name_max|dept_id|  Max|
+------------+-------+-----+
|      Briana|      4|85000|
||      2|80000|
||      2|80000|
|    Latoynia|      5|65000|
+------------+-------+-----+

In [ ]:
data174 = data172.union(data173)
data174.show()

+------------------+-------+-----+
|      emp_name_min|dept_id|  Min|
+------------------+-------+-----+
||      4|55000|
|  |      4|55000|
|          Tarvares|      2|70000|
|            Lakken|      5|60000|
|            Briana|      4|85000|
|      |      2|80000|
|      |      2|80000|
|          Latoynia|      5|65000|
+------------------+-------+-----+

In [ ]:
data174.groupBy("dept_id","Min").agg(collect_list("emp_name_min")).orderBy("dept_id","Min").show(truncate = False)

+-------+-----+--------------------------------------+
|dept_id|Min  |collect_list(emp_name_min)            |
+-------+-----+--------------------------------------+
|2      |70000|[Tarvares]                            |
|2      |80000|[, ]          |
|4      |55000|[, ]|
|4      |85000|[Briana]                              |
|5      |60000|[Lakken]                              |
|5      |65000|[Latoynia]                            |
+-------+-----+--------------------------------------+

**18. Cache and Persist - % of nulls in each column**

In [ ]:
data180 = [("Raj","Doe",None),
 (None,"Samuel","VIZAG"),
 ("David","Smith", None),
 ("Samson",None, "HYD"),
 ("Immi", "Steve", "BNG"),
 (None, None, None)]

columns180 = ["Firstname", "Lastname", "City"]

data18 = spark.createDataFrame(data180,columns180)
data18.cache()
data18.show()

+---------+--------+-----+
|Firstname|Lastname| City|
+---------+--------+-----+
|      Raj|     Doe| NULL|
|     NULL|  Samuel|VIZAG|
|    David|   Smith| NULL|
|   Samson|    NULL|  HYD|
|     Immi|   Steve|  BNG|
|     NULL|    NULL| NULL|
+---------+--------+-----+

**when summing, include otherwise also to get null counts else use count only.**

In [ ]:
from pyspark.sql.functions import count, when, round

data18.select([ count(when(col(i).isNull(), 1)).alias(i+"_Null") for i in data18.columns ] ).show()
data18.select([ sum(when(col(i).isNull(), 1).otherwise(0)).alias(i+"_Null") for i in data18.columns ] ).show()

+--------------+-------------+---------+
|Firstname_Null|Lastname_Null|City_Null|
+--------------+-------------+---------+
|             2|            2|        3|
+--------------+-------------+---------+

+--------------+-------------+---------+
|Firstname_Null|Lastname_Null|City_Null|
+--------------+-------------+---------+
|             2|            2|        3|
+--------------+-------------+---------+

In [ ]:
total = data18.count()
data18.select([ round((count(when(col(i).isNull(), 1))/total*100.0),2).alias(i+"_Null_%") for i in data18.columns ] ).show()

+----------------+---------------+-----------+
|Firstname_Null_%|Lastname_Null_%|City_Null_%|
+----------------+---------------+-----------+
|           33.33|          33.33|       50.0|
+----------------+---------------+-----------+

In [ ]:
from pyspark.sql.functions import col
for i in data18.columns:
  null_count = data18.filter(col(i).isNull()).count()
  total = data18.select(col(i)).count()
  percentage = null_count/total*100
  print(percentage)

33.33333333333333
33.33333333333333
50.0

19. Coalese and explode

In [ ]:
data190 = [('Alice', ['Badminton','Tennis'] ), ('Bob',['Tennis','Cricket']),('Julie',['Cricket','Carrom'])]
schema190 = "Name string,Hobbies array<string>"
data19 = spark.createDataFrame(data190,schema190)
data19.show()

+-----+-------------------+
| Name|            Hobbies|
+-----+-------------------+
|Alice|[Badminton, Tennis]|
|  Bob|  [Tennis, Cricket]|
|Julie|  [Cricket, Carrom]|
+-----+-------------------+

In [ ]:
from pyspark.sql.functions import explode
data19.select( "Name",explode('Hobbies')).show()

+-----+---------+
| Name|      col|
+-----+---------+
|Alice|Badminton|
|Alice|   Tennis|
|  Bob|   Tennis|
|  Bob|  Cricket|
|Julie|  Cricket|
|Julie|   Carrom|
+-----+---------+

In [ ]:
data191 = [('Goa','','AP'),('','AP',None),(None,'','Blore')]
schema191 = 'City1 string,City2 string,City3 string'
data192 = spark.createDataFrame(data191, schema191)
data192.show()

+-----+-----+-----+
|City1|City2|City3|
+-----+-----+-----+
|  Goa|     |   AP|
|     |   AP| NULL|
| NULL|     |Blore|
+-----+-----+-----+

**PySpark doesnt treat empty strings "" as null, so you need to explicitly handle them.**

In [ ]:
data193 = data192.select(
    [ when( (col(i)=='') ,None).otherwise(col(i)).alias(i) for i in data192.columns]
)
data193.show()

+-----+-----+-----+
|City1|City2|City3|
+-----+-----+-----+
|  Goa| NULL|   AP|
| NULL|   AP| NULL|
| NULL| NULL|Blore|
+-----+-----+-----+

In [ ]:
from pyspark.sql.functions import coalesce
data193.select(coalesce("City1","City2","City3").alias("Result")).show()

+------+
|Result|
+------+
|   Goa|
|    AP|
| Blore|
+------+

**20. Parsing Json file**

In [ ]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import sum,col
spark = SparkSession.builder.appName("App20").getOrCreate()
data200=[('John Doe','{"street": "123 Main St", "city": "Anytown"}'),('Jane Smith','{"street": "456 Elm St", "city": "Othertown"}')]
schema200="name string,address string"
data20 = spark.createDataFrame(data200,schema200)
data20.show()

+----------+--------------------+
|      name|             address|
+----------+--------------------+
|  John Doe|{"street": "123 M...|
|Jane Smith|{"street": "456 E...|
+----------+--------------------+

In [ ]:
from pyspark.sql.functions import col,split
data201 = data20.select("name",split(col("address"),'[{},]').alias("Splits"))
data201.show(truncate = False)

+----------+--------------------------------------------------+
|name      |Splits                                            |
+----------+--------------------------------------------------+
|John Doe  |[, "street": "123 Main St",  "city": "Anytown", ] |
|Jane Smith|[, "street": "456 Elm St",  "city": "Othertown", ]|
+----------+--------------------------------------------------+

Parse the json format

In [ ]:
from pyspark.sql.functions import from_json
data202 = data20.select("name",from_json("address","street string, city string").alias("Address"))
data202.show(truncate = False)

+----------+-----------------------+
|name      |Address                |
+----------+-----------------------+
|John Doe  |{123 Main St, Anytown} |
|Jane Smith|{456 Elm St, Othertown}|
+----------+-----------------------+

In [ ]:
data202.select("name", col("Address").street.alias("Street"), col("Address").city.alias("City")).show(truncate = False)

+----------+-----------+---------+
|name      |Street     |City     |
+----------+-----------+---------+
|John Doe  |123 Main St|Anytown  |
|Jane Smith|456 Elm St |Othertown|
+----------+-----------+---------+

**21. Get all the dataframes associated in the notebook and also display them**

In [ ]:
from os import truncate
print(globals())

{'__name__': '__main__', '__doc__': 'Automatically created module for IPython interactive environment', '__package__': None, '__loader__': None, '__spec__': None, '__builtin__': <module 'builtins' (built-in)>, '__builtins__': <module 'builtins' (built-in)>, '_ih': ['', 'from pyspark.sql import SparkSession\nfrom pyspark.sql.functions import sum\nspark = SparkSession.builder.appName("App20").getOrCreate()\ndata200=[(\'John Doe\',\'{"street": "123 Main St", "city": "Anytown"}\'),(\'Jane Smith\',\'{"street": "456 Elm St", "city": "Othertown"}\')]\nschema200="name string,address string"\ndata20 = spark.createDataframe(data200,schema200)\ndata20.show()', 'from pyspark.sql import SparkSession\nfrom pyspark.sql.functions import sum\nspark = SparkSession.Builder.appName("App20").getOrCreate()\ndata200=[(\'John Doe\',\'{"street": "123 Main St", "city": "Anytown"}\'),(\'Jane Smith\',\'{"street": "456 Elm St", "city": "Othertown"}\')]\nschema200="name string,address string"\ndata20 = spark.createDataFrame(data200,schema200)\ndata20.show()', 'from pyspark.sql import SparkSession\nfrom pyspark.sql.functions import sum\nspark = SparkSession.builder.appName("App20").getOrCreate()\ndata200=[(\'John Doe\',\'{"street": "123 Main St", "city": "Anytown"}\'),(\'Jane Smith\',\'{"street": "456 Elm St", "city": "Othertown"}\')]\nschema200="name string,address string"\ndata20 = spark.createDataFrame(data200,schema200)\ndata20.show()', 'data20.select("name",col("address")[0]).show()', 'from pyspark.sql import SparkSession\nfrom pyspark.sql.functions import sum,col\nspark = SparkSession.builder.appName("App20").getOrCreate()\ndata200=[(\'John Doe\',\'{"street": "123 Main St", "city": "Anytown"}\'),(\'Jane Smith\',\'{"street": "456 Elm St", "city": "Othertown"}\')]\nschema200="name string,address string"\ndata20 = spark.createDataFrame(data200,schema200)\ndata20.show()', 'data20.select("name",col("address")[0]).show()', 'from pyspark.sql import SparkSession\nfrom pyspark.sql.functions import sum,col,struct\nspark = SparkSession.builder.appName("App20").getOrCreate()\ndata200=[(\'John Doe\',\'{"street": "123 Main St", "city": "Anytown"}\'),(\'Jane Smith\',\'{"street": "456 Elm St", "city": "Othertown"}\')]\nschema200="name string,address string"\ndata20 = spark.createDataFrame(data200,schema200)\ndata20.show()', 'data20.select("name",struct(col("address"))).show()', 'data20.select("name",struct(col("address"))).show(truncate = False)', 'from pyspark.sql.functions import col,explode\ndata20.select("name",explode(col("address"))).show(truncate = False)', 'from pyspark.sql.functions import col,explode\ndata20.select("name",split(col("address"),\',\')).show(truncate = False)', 'from pyspark.sql.functions import col,split\ndata20.select("name",split(col("address"),\',\')).show(truncate = False)', 'from pyspark.sql.functions import col,split\ndata20.select("name",split(col("address"),\'{},\')).show(truncate = False)', 'from pyspark.sql.functions import col,split\ndata20.select("name",split(col("address"),\'[{},]\')).show(truncate = False)', 'from pyspark.sql.functions import col,split\ndata201 = data20.select("name",split(col("address"),\'[{},]\')).show(truncate = False)\ndata201.display()', 'from pyspark.sql.functions import col,split\ndata201 = data20.select("name",split(col("address"),\'[{},]\')).show(truncate = False)\ndata201.show()', 'from pyspark.sql.functions import col,split\ndata201 = data20.select("name",split(col("address"),\'[{},]\')).show(truncate = False)\ndata201.show', 'from pyspark.sql.functions import col,split\ndata201 = data20.select("name",split(col("address"),\'[{},]\')).show(truncate = False)\ndata201.show()', 'from pyspark.sql.functions import col,split\ndata201 = data20.select("name",split(col("address"),\'[{},]\'))\ndata201.show(truncate = False)', 'from pyspark.sql.functions import col,split\ndata201 = data20.select("name",split(col("address"),\'[{},]\').alias("Splits"))\ndata201.show(truncate = False)', 'data201.withColumn("street",col("Splits")[1]).show()', 'from pyspark.sql.functions import from_json\ndata20.select("name",from_json("address","street string, city string")).show()', 'from pyspark.sql.functions import from_json\ndata20.select("name",from_json("address","street string, city string")).show(truncate = False)', 'from pyspark.sql.functions import from_json\ndata20.select("name",from_json("address","street string, city string").alias("Address")).show(truncate = False)', 'from pyspark.sql.functions import from_json\ndata20.select("name",from_json("address","street string, city string").alias("Address"),street.alias("Street")).show(truncate = False)', 'from pyspark.sql.functions import from_json\ndata20.select("name",from_json("address","street string, city string").alias("Address"),col("Address").street.alias("Street")).show(truncate = False)', 'from pyspark.sql.functions import from_json\ndata202 = data20.select("name",from_json("address","street string, city string").alias("Address")).show(truncate = False)\ndata202.show()', 'from pyspark.sql.functions import from_json\ndata202 = data20.select("name",from_json("address","street string, city string").alias("Address"))\ndata202.show(truncate = False)', 'data202.select("name", col("Address").street.alias("Street")).show(truncate = False)', 'data202.select("name", col("Address").street.alias("Street"), col("Adress").city.alias("City")).show(truncate = False)', 'data202.select("name", col("Address").street.alias("Street"), col("Address").city.alias("City")).show(truncate = False)', 'print(global)', 'print(globals())', 'from os import truncate\nprint(globals(truncate = False))', 'from os import truncate\nprint(globals())'], '_oh': {}, '_dh': ['/content'], 'In': ['', 'from pyspark.sql import SparkSession\nfrom pyspark.sql.functions import sum\nspark = SparkSession.builder.appName("App20").getOrCreate()\ndata200=[(\'John Doe\',\'{"street": "123 Main St", "city": "Anytown"}\'),(\'Jane Smith\',\'{"street": "456 Elm St", "city": "Othertown"}\')]\nschema200="name string,address string"\ndata20 = spark.createDataframe(data200,schema200)\ndata20.show()', 'from pyspark.sql import SparkSession\nfrom pyspark.sql.functions import sum\nspark = SparkSession.Builder.appName("App20").getOrCreate()\ndata200=[(\'John Doe\',\'{"street": "123 Main St", "city": "Anytown"}\'),(\'Jane Smith\',\'{"street": "456 Elm St", "city": "Othertown"}\')]\nschema200="name string,address string"\ndata20 = spark.createDataFrame(data200,schema200)\ndata20.show()', 'from pyspark.sql import SparkSession\nfrom pyspark.sql.functions import sum\nspark = SparkSession.builder.appName("App20").getOrCreate()\ndata200=[(\'John Doe\',\'{"street": "123 Main St", "city": "Anytown"}\'),(\'Jane Smith\',\'{"street": "456 Elm St", "city": "Othertown"}\')]\nschema200="name string,address string"\ndata20 = spark.createDataFrame(data200,schema200)\ndata20.show()', 'data20.select("name",col("address")[0]).show()', 'from pyspark.sql import SparkSession\nfrom pyspark.sql.functions import sum,col\nspark = SparkSession.builder.appName("App20").getOrCreate()\ndata200=[(\'John Doe\',\'{"street": "123 Main St", "city": "Anytown"}\'),(\'Jane Smith\',\'{"street": "456 Elm St", "city": "Othertown"}\')]\nschema200="name string,address string"\ndata20 = spark.createDataFrame(data200,schema200)\ndata20.show()', 'data20.select("name",col("address")[0]).show()', 'from pyspark.sql import SparkSession\nfrom pyspark.sql.functions import sum,col,struct\nspark = SparkSession.builder.appName("App20").getOrCreate()\ndata200=[(\'John Doe\',\'{"street": "123 Main St", "city": "Anytown"}\'),(\'Jane Smith\',\'{"street": "456 Elm St", "city": "Othertown"}\')]\nschema200="name string,address string"\ndata20 = spark.createDataFrame(data200,schema200)\ndata20.show()', 'data20.select("name",struct(col("address"))).show()', 'data20.select("name",struct(col("address"))).show(truncate = False)', 'from pyspark.sql.functions import col,explode\ndata20.select("name",explode(col("address"))).show(truncate = False)', 'from pyspark.sql.functions import col,explode\ndata20.select("name",split(col("address"),\',\')).show(truncate = False)', 'from pyspark.sql.functions import col,split\ndata20.select("name",split(col("address"),\',\')).show(truncate = False)', 'from pyspark.sql.functions import col,split\ndata20.select("name",split(col("address"),\'{},\')).show(truncate = False)', 'from pyspark.sql.functions import col,split\ndata20.select("name",split(col("address"),\'[{},]\')).show(truncate = False)', 'from pyspark.sql.functions import col,split\ndata201 = data20.select("name",split(col("address"),\'[{},]\')).show(truncate = False)\ndata201.display()', 'from pyspark.sql.functions import col,split\ndata201 = data20.select("name",split(col("address"),\'[{},]\')).show(truncate = False)\ndata201.show()', 'from pyspark.sql.functions import col,split\ndata201 = data20.select("name",split(col("address"),\'[{},]\')).show(truncate = False)\ndata201.show', 'from pyspark.sql.functions import col,split\ndata201 = data20.select("name",split(col("address"),\'[{},]\')).show(truncate = False)\ndata201.show()', 'from pyspark.sql.functions import col,split\ndata201 = data20.select("name",split(col("address"),\'[{},]\'))\ndata201.show(truncate = False)', 'from pyspark.sql.functions import col,split\ndata201 = data20.select("name",split(col("address"),\'[{},]\').alias("Splits"))\ndata201.show(truncate = False)', 'data201.withColumn("street",col("Splits")[1]).show()', 'from pyspark.sql.functions import from_json\ndata20.select("name",from_json("address","street string, city string")).show()', 'from pyspark.sql.functions import from_json\ndata20.select("name",from_json("address","street string, city string")).show(truncate = False)', 'from pyspark.sql.functions import from_json\ndata20.select("name",from_json("address","street string, city string").alias("Address")).show(truncate = False)', 'from pyspark.sql.functions import from_json\ndata20.select("name",from_json("address","street string, city string").alias("Address"),street.alias("Street")).show(truncate = False)', 'from pyspark.sql.functions import from_json\ndata20.select("name",from_json("address","street string, city string").alias("Address"),col("Address").street.alias("Street")).show(truncate = False)', 'from pyspark.sql.functions import from_json\ndata202 = data20.select("name",from_json("address","street string, city string").alias("Address")).show(truncate = False)\ndata202.show()', 'from pyspark.sql.functions import from_json\ndata202 = data20.select("name",from_json("address","street string, city string").alias("Address"))\ndata202.show(truncate = False)', 'data202.select("name", col("Address").street.alias("Street")).show(truncate = False)', 'data202.select("name", col("Address").street.alias("Street"), col("Adress").city.alias("City")).show(truncate = False)', 'data202.select("name", col("Address").street.alias("Street"), col("Address").city.alias("City")).show(truncate = False)', 'print(global)', 'print(globals())', 'from os import truncate\nprint(globals(truncate = False))', 'from os import truncate\nprint(globals())'], 'Out': {}, 'get_ipython': <bound method InteractiveShell.get_ipython of <google.colab._shell.Shell object at 0x790fa2e39550>>, 'exit': <IPython.core.autocall.ZMQExitAutocall object at 0x790fa2e4cbd0>, 'quit': <IPython.core.autocall.ZMQExitAutocall object at 0x790fa2e4cbd0>, '_': '', '__': '', '___': '', '_i': 'from os import truncate\nprint(globals(truncate = False))', '_ii': 'print(globals())', '_iii': 'print(global)', '_i1': 'from pyspark.sql import SparkSession\nfrom pyspark.sql.functions import sum\nspark = SparkSession.builder.appName("App20").getOrCreate()\ndata200=[(\'John Doe\',\'{"street": "123 Main St", "city": "Anytown"}\'),(\'Jane Smith\',\'{"street": "456 Elm St", "city": "Othertown"}\')]\nschema200="name string,address string"\ndata20 = spark.createDataframe(data200,schema200)\ndata20.show()', 'SparkSession': <class 'pyspark.sql.session.SparkSession'>, 'sum': <function sum at 0x790f90eb8040>, 'spark': <pyspark.sql.session.SparkSession object at 0x790f902f1490>, 'data200': [('John Doe', '{"street": "123 Main St", "city": "Anytown"}'), ('Jane Smith', '{"street": "456 Elm St", "city": "Othertown"}')], 'schema200': 'name string,address string', '_i2': 'from pyspark.sql import SparkSession\nfrom pyspark.sql.functions import sum\nspark = SparkSession.Builder.appName("App20").getOrCreate()\ndata200=[(\'John Doe\',\'{"street": "123 Main St", "city": "Anytown"}\'),(\'Jane Smith\',\'{"street": "456 Elm St", "city": "Othertown"}\')]\nschema200="name string,address string"\ndata20 = spark.createDataFrame(data200,schema200)\ndata20.show()', '_i3': 'from pyspark.sql import SparkSession\nfrom pyspark.sql.functions import sum\nspark = SparkSession.builder.appName("App20").getOrCreate()\ndata200=[(\'John Doe\',\'{"street": "123 Main St", "city": "Anytown"}\'),(\'Jane Smith\',\'{"street": "456 Elm St", "city": "Othertown"}\')]\nschema200="name string,address string"\ndata20 = spark.createDataFrame(data200,schema200)\ndata20.show()', 'data20': DataFrame[name: string, address: string], '_i4': 'data20.select("name",col("address")[0]).show()', '_i5': 'from pyspark.sql import SparkSession\nfrom pyspark.sql.functions import sum,col\nspark = SparkSession.builder.appName("App20").getOrCreate()\ndata200=[(\'John Doe\',\'{"street": "123 Main St", "city": "Anytown"}\'),(\'Jane Smith\',\'{"street": "456 Elm St", "city": "Othertown"}\')]\nschema200="name string,address string"\ndata20 = spark.createDataFrame(data200,schema200)\ndata20.show()', 'col': <function col at 0x790f90eb6ac0>, '_i6': 'data20.select("name",col("address")[0]).show()', '_i7': 'from pyspark.sql import SparkSession\nfrom pyspark.sql.functions import sum,col,struct\nspark = SparkSession.builder.appName("App20").getOrCreate()\ndata200=[(\'John Doe\',\'{"street": "123 Main St", "city": "Anytown"}\'),(\'Jane Smith\',\'{"street": "456 Elm St", "city": "Othertown"}\')]\nschema200="name string,address string"\ndata20 = spark.createDataFrame(data200,schema200)\ndata20.show()', 'struct': <function struct at 0x790f90e95d00>, '_i8': 'data20.select("name",struct(col("address"))).show()', '_i9': 'data20.select("name",struct(col("address"))).show(truncate = False)', '_i10': 'from pyspark.sql.functions import col,explode\ndata20.select("name",explode(col("address"))).show(truncate = False)', 'explode': <function explode at 0x790f90ea51c0>, '_i11': 'from pyspark.sql.functions import col,explode\ndata20.select("name",split(col("address"),\',\')).show(truncate = False)', '_i12': 'from pyspark.sql.functions import col,split\ndata20.select("name",split(col("address"),\',\')).show(truncate = False)', 'split': <function split at 0x790f90ed3600>, '_i13': 'from pyspark.sql.functions import col,split\ndata20.select("name",split(col("address"),\'{},\')).show(truncate = False)', '_i14': 'from pyspark.sql.functions import col,split\ndata20.select("name",split(col("address"),\'[{},]\')).show(truncate = False)', '_i15': 'from pyspark.sql.functions import col,split\ndata201 = data20.select("name",split(col("address"),\'[{},]\')).show(truncate = False)\ndata201.display()', 'data201': DataFrame[name: string, Splits: array<string>], '_i16': 'from pyspark.sql.functions import col,split\ndata201 = data20.select("name",split(col("address"),\'[{},]\')).show(truncate = False)\ndata201.show()', '_i17': 'from pyspark.sql.functions import col,split\ndata201 = data20.select("name",split(col("address"),\'[{},]\')).show(truncate = False)\ndata201.show', '_i18': 'from pyspark.sql.functions import col,split\ndata201 = data20.select("name",split(col("address"),\'[{},]\')).show(truncate = False)\ndata201.show()', '_i19': 'from pyspark.sql.functions import col,split\ndata201 = data20.select("name",split(col("address"),\'[{},]\'))\ndata201.show(truncate = False)', '_i20': 'from pyspark.sql.functions import col,split\ndata201 = data20.select("name",split(col("address"),\'[{},]\').alias("Splits"))\ndata201.show(truncate = False)', '_i21': 'data201.withColumn("street",col("Splits")[1]).show()', '_i22': 'from pyspark.sql.functions import from_json\ndata20.select("name",from_json("address","street string, city string")).show()', 'from_json': <function from_json at 0x790f90ea5bc0>, '_i23': 'from pyspark.sql.functions import from_json\ndata20.select("name",from_json("address","street string, city string")).show(truncate = False)', '_i24': 'from pyspark.sql.functions import from_json\ndata20.select("name",from_json("address","street string, city string").alias("Address")).show(truncate = False)', '_i25': 'from pyspark.sql.functions import from_json\ndata20.select("name",from_json("address","street string, city string").alias("Address"),street.alias("Street")).show(truncate = False)', '_i26': 'from pyspark.sql.functions import from_json\ndata20.select("name",from_json("address","street string, city string").alias("Address"),col("Address").street.alias("Street")).show(truncate = False)', '_i27': 'from pyspark.sql.functions import from_json\ndata202 = data20.select("name",from_json("address","street string, city string").alias("Address")).show(truncate = False)\ndata202.show()', 'data202': DataFrame[name: string, Address: struct<street:string,city:string>], '_i28': 'from pyspark.sql.functions import from_json\ndata202 = data20.select("name",from_json("address","street string, city string").alias("Address"))\ndata202.show(truncate = False)', '_i29': 'data202.select("name", col("Address").street.alias("Street")).show(truncate = False)', '_i30': 'data202.select("name", col("Address").street.alias("Street"), col("Adress").city.alias("City")).show(truncate = False)', '_i31': 'data202.select("name", col("Address").street.alias("Street"), col("Address").city.alias("City")).show(truncate = False)', '_i32': 'print(global)', '_i33': 'print(globals())', '_i34': 'from os import truncate\nprint(globals(truncate = False))', 'truncate': <built-in function truncate>, '_i35': 'from os import truncate\nprint(globals())'}

In [ ]:
display(globals().items())

dict_items([('__name__', '__main__'), ('__doc__', 'Automatically created module for IPython interactive environment'), ('__package__', None), ('__loader__', None), ('__spec__', None), ('__builtin__', <module 'builtins' (built-in)>), ('__builtins__', <module 'builtins' (built-in)>), ('_ih', ['', 'from pyspark.sql import SparkSession\nfrom pyspark.sql.functions import sum\nspark = SparkSession.builder.appName("App20").getOrCreate()\ndata200=[(\'John Doe\',\'{"street": "123 Main St", "city": "Anytown"}\'),(\'Jane Smith\',\'{"street": "456 Elm St", "city": "Othertown"}\')]\nschema200="name string,address string"\ndata20 = spark.createDataframe(data200,schema200)\ndata20.show()', 'from pyspark.sql import SparkSession\nfrom pyspark.sql.functions import sum\nspark = SparkSession.Builder.appName("App20").getOrCreate()\ndata200=[(\'John Doe\',\'{"street": "123 Main St", "city": "Anytown"}\'),(\'Jane Smith\',\'{"street": "456 Elm St", "city": "Othertown"}\')]\nschema200="name string,address string"\ndata20 = spark.createDataFrame(data200,schema200)\ndata20.show()', 'from pyspark.sql import SparkSession\nfrom pyspark.sql.functions import sum\nspark = SparkSession.builder.appName("App20").getOrCreate()\ndata200=[(\'John Doe\',\'{"street": "123 Main St", "city": "Anytown"}\'),(\'Jane Smith\',\'{"street": "456 Elm St", "city": "Othertown"}\')]\nschema200="name string,address string"\ndata20 = spark.createDataFrame(data200,schema200)\ndata20.show()', 'data20.select("name",col("address")[0]).show()', 'from pyspark.sql import SparkSession\nfrom pyspark.sql.functions import sum,col\nspark = SparkSession.builder.appName("App20").getOrCreate()\ndata200=[(\'John Doe\',\'{"street": "123 Main St", "city": "Anytown"}\'),(\'Jane Smith\',\'{"street": "456 Elm St", "city": "Othertown"}\')]\nschema200="name string,address string"\ndata20 = spark.createDataFrame(data200,schema200)\ndata20.show()', 'data20.select("name",col("address")[0]).show()', 'from pyspark.sql import SparkSession\nfrom pyspark.sql.functions import sum,col,struct\nspark = SparkSession.builder.appName("App20").getOrCreate()\ndata200=[(\'John Doe\',\'{"street": "123 Main St", "city": "Anytown"}\'),(\'Jane Smith\',\'{"street": "456 Elm St", "city": "Othertown"}\')]\nschema200="name string,address string"\ndata20 = spark.createDataFrame(data200,schema200)\ndata20.show()', 'data20.select("name",struct(col("address"))).show()', 'data20.select("name",struct(col("address"))).show(truncate = False)', 'from pyspark.sql.functions import col,explode\ndata20.select("name",explode(col("address"))).show(truncate = False)', 'from pyspark.sql.functions import col,explode\ndata20.select("name",split(col("address"),\',\')).show(truncate = False)', 'from pyspark.sql.functions import col,split\ndata20.select("name",split(col("address"),\',\')).show(truncate = False)', 'from pyspark.sql.functions import col,split\ndata20.select("name",split(col("address"),\'{},\')).show(truncate = False)', 'from pyspark.sql.functions import col,split\ndata20.select("name",split(col("address"),\'[{},]\')).show(truncate = False)', 'from pyspark.sql.functions import col,split\ndata201 = data20.select("name",split(col("address"),\'[{},]\')).show(truncate = False)\ndata201.display()', 'from pyspark.sql.functions import col,split\ndata201 = data20.select("name",split(col("address"),\'[{},]\')).show(truncate = False)\ndata201.show()', 'from pyspark.sql.functions import col,split\ndata201 = data20.select("name",split(col("address"),\'[{},]\')).show(truncate = False)\ndata201.show', 'from pyspark.sql.functions import col,split\ndata201 = data20.select("name",split(col("address"),\'[{},]\')).show(truncate = False)\ndata201.show()', 'from pyspark.sql.functions import col,split\ndata201 = data20.select("name",split(col("address"),\'[{},]\'))\ndata201.show(truncate = False)', 'from pyspark.sql.functions import col,split\ndata201 = data20.select("name",split(col("address"),\'[{},]\').alias("Splits"))\ndata201.show(truncate = False)', 'data201.withColumn("street",col("Splits")[1]).show()', 'from pyspark.sql.functions import from_json\ndata20.select("name",from_json("address","street string, city string")).show()', 'from pyspark.sql.functions import from_json\ndata20.select("name",from_json("address","street string, city string")).show(truncate = False)', 'from pyspark.sql.functions import from_json\ndata20.select("name",from_json("address","street string, city string").alias("Address")).show(truncate = False)', 'from pyspark.sql.functions import from_json\ndata20.select("name",from_json("address","street string, city string").alias("Address"),street.alias("Street")).show(truncate = False)', 'from pyspark.sql.functions import from_json\ndata20.select("name",from_json("address","street string, city string").alias("Address"),col("Address").street.alias("Street")).show(truncate = False)', 'from pyspark.sql.functions import from_json\ndata202 = data20.select("name",from_json("address","street string, city string").alias("Address")).show(truncate = False)\ndata202.show()', 'from pyspark.sql.functions import from_json\ndata202 = data20.select("name",from_json("address","street string, city string").alias("Address"))\ndata202.show(truncate = False)', 'data202.select("name", col("Address").street.alias("Street")).show(truncate = False)', 'data202.select("name", col("Address").street.alias("Street"), col("Adress").city.alias("City")).show(truncate = False)', 'data202.select("name", col("Address").street.alias("Street"), col("Address").city.alias("City")).show(truncate = False)', 'print(global)', 'print(globals())', 'from os import truncate\nprint(globals(truncate = False))', 'from os import truncate\nprint(globals())', 'globals().items().show()', 'display(globals().items())']), ('_oh', {}), ('_dh', ['/content']), ('In', ['', 'from pyspark.sql import SparkSession\nfrom pyspark.sql.functions import sum\nspark = SparkSession.builder.appName("App20").getOrCreate()\ndata200=[(\'John Doe\',\'{"street": "123 Main St", "city": "Anytown"}\'),(\'Jane Smith\',\'{"street": "456 Elm St", "city": "Othertown"}\')]\nschema200="name string,address string"\ndata20 = spark.createDataframe(data200,schema200)\ndata20.show()', 'from pyspark.sql import SparkSession\nfrom pyspark.sql.functions import sum\nspark = SparkSession.Builder.appName("App20").getOrCreate()\ndata200=[(\'John Doe\',\'{"street": "123 Main St", "city": "Anytown"}\'),(\'Jane Smith\',\'{"street": "456 Elm St", "city": "Othertown"}\')]\nschema200="name string,address string"\ndata20 = spark.createDataFrame(data200,schema200)\ndata20.show()', 'from pyspark.sql import SparkSession\nfrom pyspark.sql.functions import sum\nspark = SparkSession.builder.appName("App20").getOrCreate()\ndata200=[(\'John Doe\',\'{"street": "123 Main St", "city": "Anytown"}\'),(\'Jane Smith\',\'{"street": "456 Elm St", "city": "Othertown"}\')]\nschema200="name string,address string"\ndata20 = spark.createDataFrame(data200,schema200)\ndata20.show()', 'data20.select("name",col("address")[0]).show()', 'from pyspark.sql import SparkSession\nfrom pyspark.sql.functions import sum,col\nspark = SparkSession.builder.appName("App20").getOrCreate()\ndata200=[(\'John Doe\',\'{"street": "123 Main St", "city": "Anytown"}\'),(\'Jane Smith\',\'{"street": "456 Elm St", "city": "Othertown"}\')]\nschema200="name string,address string"\ndata20 = spark.createDataFrame(data200,schema200)\ndata20.show()', 'data20.select("name",col("address")[0]).show()', 'from pyspark.sql import SparkSession\nfrom pyspark.sql.functions import sum,col,struct\nspark = SparkSession.builder.appName("App20").getOrCreate()\ndata200=[(\'John Doe\',\'{"street": "123 Main St", "city": "Anytown"}\'),(\'Jane Smith\',\'{"street": "456 Elm St", "city": "Othertown"}\')]\nschema200="name string,address string"\ndata20 = spark.createDataFrame(data200,schema200)\ndata20.show()', 'data20.select("name",struct(col("address"))).show()', 'data20.select("name",struct(col("address"))).show(truncate = False)', 'from pyspark.sql.functions import col,explode\ndata20.select("name",explode(col("address"))).show(truncate = False)', 'from pyspark.sql.functions import col,explode\ndata20.select("name",split(col("address"),\',\')).show(truncate = False)', 'from pyspark.sql.functions import col,split\ndata20.select("name",split(col("address"),\',\')).show(truncate = False)', 'from pyspark.sql.functions import col,split\ndata20.select("name",split(col("address"),\'{},\')).show(truncate = False)', 'from pyspark.sql.functions import col,split\ndata20.select("name",split(col("address"),\'[{},]\')).show(truncate = False)', 'from pyspark.sql.functions import col,split\ndata201 = data20.select("name",split(col("address"),\'[{},]\')).show(truncate = False)\ndata201.display()', 'from pyspark.sql.functions import col,split\ndata201 = data20.select("name",split(col("address"),\'[{},]\')).show(truncate = False)\ndata201.show()', 'from pyspark.sql.functions import col,split\ndata201 = data20.select("name",split(col("address"),\'[{},]\')).show(truncate = False)\ndata201.show', 'from pyspark.sql.functions import col,split\ndata201 = data20.select("name",split(col("address"),\'[{},]\')).show(truncate = False)\ndata201.show()', 'from pyspark.sql.functions import col,split\ndata201 = data20.select("name",split(col("address"),\'[{},]\'))\ndata201.show(truncate = False)', 'from pyspark.sql.functions import col,split\ndata201 = data20.select("name",split(col("address"),\'[{},]\').alias("Splits"))\ndata201.show(truncate = False)', 'data201.withColumn("street",col("Splits")[1]).show()', 'from pyspark.sql.functions import from_json\ndata20.select("name",from_json("address","street string, city string")).show()', 'from pyspark.sql.functions import from_json\ndata20.select("name",from_json("address","street string, city string")).show(truncate = False)', 'from pyspark.sql.functions import from_json\ndata20.select("name",from_json("address","street string, city string").alias("Address")).show(truncate = False)', 'from pyspark.sql.functions import from_json\ndata20.select("name",from_json("address","street string, city string").alias("Address"),street.alias("Street")).show(truncate = False)', 'from pyspark.sql.functions import from_json\ndata20.select("name",from_json("address","street string, city string").alias("Address"),col("Address").street.alias("Street")).show(truncate = False)', 'from pyspark.sql.functions import from_json\ndata202 = data20.select("name",from_json("address","street string, city string").alias("Address")).show(truncate = False)\ndata202.show()', 'from pyspark.sql.functions import from_json\ndata202 = data20.select("name",from_json("address","street string, city string").alias("Address"))\ndata202.show(truncate = False)', 'data202.select("name", col("Address").street.alias("Street")).show(truncate = False)', 'data202.select("name", col("Address").street.alias("Street"), col("Adress").city.alias("City")).show(truncate = False)', 'data202.select("name", col("Address").street.alias("Street"), col("Address").city.alias("City")).show(truncate = False)', 'print(global)', 'print(globals())', 'from os import truncate\nprint(globals(truncate = False))', 'from os import truncate\nprint(globals())', 'globals().items().show()', 'display(globals().items())']), ('Out', {}), ('get_ipython', <bound method InteractiveShell.get_ipython of <google.colab._shell.Shell object at 0x790fa2e39550>>), ('exit', <IPython.core.autocall.ZMQExitAutocall object at 0x790fa2e4cbd0>), ('quit', <IPython.core.autocall.ZMQExitAutocall object at 0x790fa2e4cbd0>), ('_', ''), ('__', ''), ('___', ''), ('_i', 'globals().items().show()'), ('_ii', 'from os import truncate\nprint(globals())'), ('_iii', 'from os import truncate\nprint(globals(truncate = False))'), ('_i1', 'from pyspark.sql import SparkSession\nfrom pyspark.sql.functions import sum\nspark = SparkSession.builder.appName("App20").getOrCreate()\ndata200=[(\'John Doe\',\'{"street": "123 Main St", "city": "Anytown"}\'),(\'Jane Smith\',\'{"street": "456 Elm St", "city": "Othertown"}\')]\nschema200="name string,address string"\ndata20 = spark.createDataframe(data200,schema200)\ndata20.show()'), ('SparkSession', <class 'pyspark.sql.session.SparkSession'>), ('sum', <function sum at 0x790f90eb8040>), ('spark', <pyspark.sql.session.SparkSession object at 0x790f902f1490>), ('data200', [('John Doe', '{"street": "123 Main St", "city": "Anytown"}'), ('Jane Smith', '{"street": "456 Elm St", "city": "Othertown"}')]), ('schema200', 'name string,address string'), ('_i2', 'from pyspark.sql import SparkSession\nfrom pyspark.sql.functions import sum\nspark = SparkSession.Builder.appName("App20").getOrCreate()\ndata200=[(\'John Doe\',\'{"street": "123 Main St", "city": "Anytown"}\'),(\'Jane Smith\',\'{"street": "456 Elm St", "city": "Othertown"}\')]\nschema200="name string,address string"\ndata20 = spark.createDataFrame(data200,schema200)\ndata20.show()'), ('_i3', 'from pyspark.sql import SparkSession\nfrom pyspark.sql.functions import sum\nspark = SparkSession.builder.appName("App20").getOrCreate()\ndata200=[(\'John Doe\',\'{"street": "123 Main St", "city": "Anytown"}\'),(\'Jane Smith\',\'{"street": "456 Elm St", "city": "Othertown"}\')]\nschema200="name string,address string"\ndata20 = spark.createDataFrame(data200,schema200)\ndata20.show()'), ('data20', DataFrame[name: string, address: string]), ('_i4', 'data20.select("name",col("address")[0]).show()'), ('_i5', 'from pyspark.sql import SparkSession\nfrom pyspark.sql.functions import sum,col\nspark = SparkSession.builder.appName("App20").getOrCreate()\ndata200=[(\'John Doe\',\'{"street": "123 Main St", "city": "Anytown"}\'),(\'Jane Smith\',\'{"street": "456 Elm St", "city": "Othertown"}\')]\nschema200="name string,address string"\ndata20 = spark.createDataFrame(data200,schema200)\ndata20.show()'), ('col', <function col at 0x790f90eb6ac0>), ('_i6', 'data20.select("name",col("address")[0]).show()'), ('_i7', 'from pyspark.sql import SparkSession\nfrom pyspark.sql.functions import sum,col,struct\nspark = SparkSession.builder.appName("App20").getOrCreate()\ndata200=[(\'John Doe\',\'{"street": "123 Main St", "city": "Anytown"}\'),(\'Jane Smith\',\'{"street": "456 Elm St", "city": "Othertown"}\')]\nschema200="name string,address string"\ndata20 = spark.createDataFrame(data200,schema200)\ndata20.show()'), ('struct', <function struct at 0x790f90e95d00>), ('_i8', 'data20.select("name",struct(col("address"))).show()'), ('_i9', 'data20.select("name",struct(col("address"))).show(truncate = False)'), ('_i10', 'from pyspark.sql.functions import col,explode\ndata20.select("name",explode(col("address"))).show(truncate = False)'), ('explode', <function explode at 0x790f90ea51c0>), ('_i11', 'from pyspark.sql.functions import col,explode\ndata20.select("name",split(col("address"),\',\')).show(truncate = False)'), ('_i12', 'from pyspark.sql.functions import col,split\ndata20.select("name",split(col("address"),\',\')).show(truncate = False)'), ('split', <function split at 0x790f90ed3600>), ('_i13', 'from pyspark.sql.functions import col,split\ndata20.select("name",split(col("address"),\'{},\')).show(truncate = False)'), ('_i14', 'from pyspark.sql.functions import col,split\ndata20.select("name",split(col("address"),\'[{},]\')).show(truncate = False)'), ('_i15', 'from pyspark.sql.functions import col,split\ndata201 = data20.select("name",split(col("address"),\'[{},]\')).show(truncate = False)\ndata201.display()'), ('data201', DataFrame[name: string, Splits: array<string>]), ('_i16', 'from pyspark.sql.functions import col,split\ndata201 = data20.select("name",split(col("address"),\'[{},]\')).show(truncate = False)\ndata201.show()'), ('_i17', 'from pyspark.sql.functions import col,split\ndata201 = data20.select("name",split(col("address"),\'[{},]\')).show(truncate = False)\ndata201.show'), ('_i18', 'from pyspark.sql.functions import col,split\ndata201 = data20.select("name",split(col("address"),\'[{},]\')).show(truncate = False)\ndata201.show()'), ('_i19', 'from pyspark.sql.functions import col,split\ndata201 = data20.select("name",split(col("address"),\'[{},]\'))\ndata201.show(truncate = False)'), ('_i20', 'from pyspark.sql.functions import col,split\ndata201 = data20.select("name",split(col("address"),\'[{},]\').alias("Splits"))\ndata201.show(truncate = False)'), ('_i21', 'data201.withColumn("street",col("Splits")[1]).show()'), ('_i22', 'from pyspark.sql.functions import from_json\ndata20.select("name",from_json("address","street string, city string")).show()'), ('from_json', <function from_json at 0x790f90ea5bc0>), ('_i23', 'from pyspark.sql.functions import from_json\ndata20.select("name",from_json("address","street string, city string")).show(truncate = False)'), ('_i24', 'from pyspark.sql.functions import from_json\ndata20.select("name",from_json("address","street string, city string").alias("Address")).show(truncate = False)'), ('_i25', 'from pyspark.sql.functions import from_json\ndata20.select("name",from_json("address","street string, city string").alias("Address"),street.alias("Street")).show(truncate = False)'), ('_i26', 'from pyspark.sql.functions import from_json\ndata20.select("name",from_json("address","street string, city string").alias("Address"),col("Address").street.alias("Street")).show(truncate = False)'), ('_i27', 'from pyspark.sql.functions import from_json\ndata202 = data20.select("name",from_json("address","street string, city string").alias("Address")).show(truncate = False)\ndata202.show()'), ('data202', DataFrame[name: string, Address: struct<street:string,city:string>]), ('_i28', 'from pyspark.sql.functions import from_json\ndata202 = data20.select("name",from_json("address","street string, city string").alias("Address"))\ndata202.show(truncate = False)'), ('_i29', 'data202.select("name", col("Address").street.alias("Street")).show(truncate = False)'), ('_i30', 'data202.select("name", col("Address").street.alias("Street"), col("Adress").city.alias("City")).show(truncate = False)'), ('_i31', 'data202.select("name", col("Address").street.alias("Street"), col("Address").city.alias("City")).show(truncate = False)'), ('_i32', 'print(global)'), ('_i33', 'print(globals())'), ('_i34', 'from os import truncate\nprint(globals(truncate = False))'), ('truncate', <built-in function truncate>), ('_i35', 'from os import truncate\nprint(globals())'), ('_i36', 'globals().items().show()'), ('_i37', 'display(globals().items())')])

In [ ]:
from pyspark.sql.functions import DataFrame
for key,value in globals().items():
  if type(value)==DataFrame:
    display(key, value)

'data20'

DataFrame[name: string, address: string]

'data201'

DataFrame[name: string, Splits: array<string>]

'data202'

DataFrame[name: string, Address: struct<street:string,city:string>]

In [ ]:
for key,value in globals().items():
  if isinstance(value,DataFrame):
    display(key, value)

'data20'

DataFrame[name: string, address: string]

'data201'

DataFrame[name: string, Splits: array<string>]

'data202'

DataFrame[name: string, Address: struct<street:string,city:string>]

**21. Find missing Numbers in the DataFrame**

In [ ]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col,min,max
spark = SparkSession.builder.appName("App 21").getOrCreate()
data210 = [
 (1, ),
 (2,),
 (3,),
 (6,),
 (7,),
 (8,)]
schema210="Id int"
data21 = spark.createDataFrame(data210,schema=schema210)
data21.show()

+---+
| Id|
+---+
|  1|
|  2|
|  3|
|  6|
|  7|
|  8|
+---+

In [ ]:
data211=data21.select(min(col("Id")),max(col("Id")))
data211.show()
data212=spark.range(data211.first()[0],data211.first()[1]+1)
data212.show()
data213=data212.subtract(data21)
data213.show()

+-------+-------+
|min(Id)|max(Id)|
+-------+-------+
|      1|      8|
+-------+-------+

+---+
| id|
+---+
|  1|
|  2|
|  3|
|  4|
|  5|
|  6|
|  7|
|  8|
+---+

+---+
| id|
+---+
|  5|
|  4|
+---+

**22. How to handle multiple delimiter in a csv file**

In [ ]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import sum

In [ ]:
spark = SparkSession.builder.appName("Mul_Del").getOrCreate()
data22 = spark.read.format('csv')\
.option('header', True)\
.load("/content/data22 - Sheet1.csv")

In [ ]:
data22.show()

+----------------+
|   Id|Name|Marks|
+----------------+
|1|Sagar|20,30,40|
| 2|Alex|34,32,12|
|3|David|45,67,54|
| 4|John|10,34,60|
+----------------+

In [ ]:
from pyspark.sql.functions import split, col
data221 = data22.select((split(col("Id|Name|Marks"), '[|]').alias("Columns")), col("Columns")[0].alias("ID"), col("Columns")[1].alias("Name"), col("Columns")[2].alias("Subjects"))
data221.show()

+--------------------+---+-----+--------+
|             Columns| ID| Name|Subjects|
+--------------------+---+-----+--------+
|[1, Sagar, 20,30,40]|  1|Sagar|20,30,40|
| [2, Alex, 34,32,12]|  2| Alex|34,32,12|
|[3, David, 45,67,54]|  3|David|45,67,54|
| [4, John, 10,34,60]|  4| John|10,34,60|
+--------------------+---+-----+--------+

In [ ]:
data222 = data221.select("ID","Name",split(col("Subjects"), ',').alias("Subs"), col('Subs')[0].alias("Chem"), col('Subs')[1].alias("Phy"), col('Subs')[2].alias("Math")).drop("Subs")
data222.show()

+---+-----+----+---+----+
| ID| Name|Chem|Phy|Math|
+---+-----+----+---+----+
|  1|Sagar|  20| 30|  40|
|  2| Alex|  34| 32|  12|
|  3|David|  45| 67|  54|
|  4| John|  10| 34|  60|
+---+-----+----+---+----+

**23. Save Multiple Columns in the DataFrame**

In [ ]:
data230 = [
    (1, "Sagar", 23, "Male", 68.0),
    (2, "Kim", 35, "Female", 90.2),
    (3, "Alex", 40, "Male", 79.1),
]
schema230 = "Id int,Name string,Age int,Gender string,Marks float"
data23 = spark.createDataFrame(data230, schema230)
data23.show()

+---+-----+---+------+-----+
| Id| Name|Age|Gender|Marks|
+---+-----+---+------+-----+
|  1|Sagar| 23|  Male| 68.0|
|  2|  Kim| 35|Female| 90.2|
|  3| Alex| 40|  Male| 79.1|
+---+-----+---+------+-----+

In [ ]:
display(data23)

DataFrame[Id: int, Name: string, Age: int, Gender: string, Marks: float]